[2015-09-10 12:53] airportyh commented on #258
@prabirshrestha I am not working on it actively now, but PRs will be considered.

[2015-09-10 18:35] prabirshrestha commented on #258
@airportyh could you point me to where i can add this since i'm not familiar with the codebase. If I have time I can then try to send a PR for it.

[2015-09-13 10:50] airportyh commented on #258
Read [CONTRIBUTING.md] if you haven't. For this feature the most relevant code is in https://github.com/airportyh/testem/blob/master/lib/server/index.js

[2015-09-14 09:32] avdv opened #635 "Parallel tests attributed to the same browser"
Hi.

Sometimes, when running tests in parallel, the TAP output attributes the test result only to a single browser.

[code]

I have logged the value of `navigator.userAgent` in the test case:

[code]

It seems that the second browser overwrites the identifier of the browser that started first.

[2015-09-14 09:40] #630 closed

[2015-09-16 03:13] shaunc opened #637 "guidance for setting up launcher which launches IE tests via virtualbox"
I develop on a mac, but need to insure my tests run on IE. It seems that [microsoft has released virtual images for virtualbox, parallels, vmware](https://dev.modern.ie/tools/vms/mac/). Are there examples of configuring a launcher to use them somewhere, or some tips at least to try to get one set up?

Thanks in advance!

[2015-09-19 12:53] #635 closed

[2015-09-20 21:31] searls opened #640 "Liberal globbing can cause parse errors by treating directories listings as scripts"
So if I have a glob for `src_files` like so:

[code]

This will generate a script tag for the directory itself like this: `<script src="lib/examples">`, which will include the HTML:

[code]

And cause a console error, which sometimes fails a test run.

## Steps to Reproduce

I'm using Node v4.0.0 and npm 2.14.2. I'm on OS X 10.10.5.

1. Clone: https://github.com/testdouble/jasmine-example
2. `git

[2015-09-21 06:20] johanneswuerbach commented on #640
Great catch, I think a sensible default would be to serve only .js files when watching globbing dirs , but still allow to serve non .js files when explicitly specified.

[2015-09-27 12:02] osherx opened #642 "what is the right way to configure working with a test server on the background?"
Hi

We're a full-stack developers team, and we work a lot with xhr, jsonp, ajax and stuff like that.
For this, we need to cover tests of data-sending over the network - at least to a test server

For this - we need a test server running in parallel to testem - and sometimes even as a part of it

As architect I want to facilitate for my developers the handling of this test server through testem, so

[2015-09-28 21:39] johanneswuerbach commented on #642
Hi @osherx,

thanks for your detailed writeup. As a middleware kind of structure could work, I don't think it will provide you enough value in the long run to jump through all the hops and limitations. (limited to the express version of testem, conflicting dependencies, etc.) and is worth the complexity integrated in testem.

The most common setup I have seen nowadays is to have another tool coord

[2015-10-08 15:01] jonesnc opened #645 "The README's description of test_page setup in browser need improvement"
When I setup testem to run my on my test-runner.html page in a browser, I had to include more files than what is described in the `README`. The only file that the README says to include is with `/testem.js`, but this file doesn't work in the browser because it begins with `#!/usr/bin/env node`. Instead of `/testem/js`, I had to include `/public/testem-client.js`, and, since I'm using Mocha, I had

[2015-10-09 20:52] jasonkarns commented on #265
commenting here as an idea for the rewrite:

rather than bundling all the various frameworks and libraries (which results in version lag and attempting to handle all the various combinations) we improve the process by which libraries are added to the test page?

For example, I much prefer referencing mocha.js from `node_modules/` so if we improved the way scripts are added to the test page making

[2015-10-09 21:40] johanneswuerbach commented on #265
I definitely agree on that.

[2015-10-11 14:02] elfet opened #646 "How to restart test on files tests?"
Hi! Thanks for awesome tool!

I know what `src_files` watched. But what if i do not want to include them, but want to restart test on changes in another files?

[2015-10-13 16:30] jasonkarns commented on #484
After doing some digging and thinking, I'm less convinced this is a good idea. Prepending `$(npm bin)` is one thing, but I can easily seeing a subsequent request for the second half of npm's behavior: exposing `$npm_package_*` variables.

Right now, my workaround is to ensure any testem-executed commands (like launchers, or before/after hooks) all exist as proper npm-scripts in the first place. So

[2015-10-13 16:30] #484 closed

[2015-10-13 19:41] jasonkarns commented on #637
Generally I launch virtual box, open IE and browse to the testem-hosted test page (@ port 7357 or whatever). I don't know of an automated way to do this, though I'd imagine it should be possible (maybe with something like vagrant)

[2015-10-13 19:45] jasonkarns commented on #633
Just to note (unsure if it would help at all), take a look at `serve_files` and `watch_files`. These options allow you to be more fine-grained than `src_files`.

src_files is essentially setting the same file list for both watching and serving. However, in your scenario you likely don't want your server files served to the browser. But you *would* want them watched. So I'd give this a shot:

- rem

[2015-10-13 19:54] jasonkarns opened #647 "deprecate 0.8.4 and 0.8.5 on npm registry"
I did an `npm i testem@latest` which respected my package.json version spec (`^0.8.2`) and thus installed 0.8.5. As noted [here](https://github.com/airportyh/testem/releases/tag/v0.9.0-0), 0.8.4 and 0.8.5 are bad releases, correct?

Could they be deprecated on the registry? I'm assuming (I don't know if this is true) that `npm i testem@latest` would only install the latest non-deprecated package.

[2015-10-14 22:49] johanneswuerbach commented on #647
Sorry for the late reply, only `0.8.4` was broken and `0.8.5` should work fine so using `^0.8.2` is fine.

[2015-10-14 22:49] #647 closed

[2015-10-15 02:46] jasonkarns commented on #647
Ah, I assumed it was a bad version when testem was throwing errors for me. But now I can't seem to reproduce them.

thanks!

[2015-10-15 02:46] jasonkarns commented on #647
though I'd still recommend deprecating 0.8.4 so people will get a warning if they attempt to install it.

[2015-10-17 08:36] johanneswuerbach commented on #647
Sure, `0.8.4` is deprecated now.

[2015-10-19 17:32] cdaringe commented on #528
thanks @johanneswuerbach.  unfortunately, #616 doesn't seem to resolve the issue for me.  i asserted that it was all up to date, and that any global installation was purged.  the port hack doesn't seem to do the trick either.  do you see any potential reasons why it would still hang?

[2015-10-20 13:56] tandrewnichols commented on #610
Update: this must be based on the version of Chrome installed. I actually see this go away and come back occasionally as I upgrade Chrome. Unfortunate, but probably not anything this library can (or should) address. At the moment, the tests run fine the first time, but when _restarting_, they freeze until I switch over to look at them. ¯\_(ツ)_/¯

[2015-10-20 13:56] #610 closed

[2015-10-20 13:59] johanneswuerbach commented on #610
Thanks for updating this :-) :+1:

[2015-10-22 21:01] ErikBean commented on #645
+1
I am struggling with the same issue.
@jonesnc Thanks for explaining your solution, this was helpful.
I also would love to see the docs updated

[2015-10-26 17:35] dematic-rodrigo-silveira opened #651 "Does testem supports text fixtures"
Hello - I'm using testem and it works well for me. I've gotten to a point where I want to integrate fixtures into my tests so that I can avoid having to do weird tricks to define them once and use them all over the place. I see that Karma has support for [text fixtures](https://github.com/billtrik/karma-fixture) and I wonder if you have plans to include or know of a similar capabiligy for testem?

[2015-10-29 16:43] jcrosetto opened #652 "Opera not showing up in launchers on Windows 7"
It looks like the exe for Opera is now called "launcher.exe".

However, testem ci doesn't seem to work with it. When I added the path to launcher.exe in "browser_launcher.js", testem ci opened Opera, but threw the following error:

    not ok 4 Opera - Browser "C:\Program Files (x86)\Opera\launcher.exe --user-data-
    dir=C:\Users\<user>\AppData\Local\Temp\testem.opera -pd C:\Users\<user>\AppData

[2015-10-30 14:36] BrianGenisio opened #654 "Auto-Launch not working when run from npm"
I just updated to Node 5.0.0 with NPM 3.3.6.  I'm running on OSX 10.10.5 (Yosemite)

I have a "test" script defined in my project.json:

[code]

So when I run `npm test`, it starts testem.

The problem is that my `launch_in_dev` browser (Chrome) is not auto-run.  Even if I call it out explicitly: `"test": "testem -l Chrome"`, the browser does not auto-launch.  Testem DOES start, but the browser do

[2015-10-30 14:47] BrianGenisio commented on #654
I have a workaround... it is a hack, but it works for now...

[code]

[2015-10-30 14:51] johanneswuerbach commented on #654
Maybe npm 3 is somehow fiddling with the `$PATH`, but this definitely needs further investigation.

[2015-10-30 14:54] BrianGenisio commented on #654
Yeah, I suspect this is an NPM thing, and less of a testem problem, but running testem from npm scripts is a very common workflow, so it is good to get a handle on it.

Also, some more data points: PhantomJS does launch properly when I run `npm test` configured that way.

[2015-11-01 09:38] denar90 opened #655 "Run testem with local phantomjs"
Hi guys. I couldn't find way how can I tun testem with locally installed phantomjs. Does present some option in config where I can pass phantomjs?
Here my example with gulp.
[code]

[2015-11-01 18:57] john-kurkowski commented on #549
I fixed this by uninstalling LastPass's [recommended LastPass Complete installer](https://lastpass.com/misc_download2.php) from my whole system. It apparently installs LastPass into all current browsers and future browsers. From [this exchange](https://twitter.com/LastPassHelp/status/660153645078437888), I learned I could install the Chrome extension individually [from the Chrome store](https://ch

[2015-11-02 00:34] revolunet commented on #654
`testem ci` keeps waiting and doesnt display an error

with `--debug` flag i can see this error, and the provided Chrome path does not exist :
[code]

[2015-11-02 00:43] revolunet commented on #654
(works with firefox though)

[2015-11-02 00:49] revolunet commented on #654
ok, once  Chrome exists in one of these locations, it works as expected (osx)

[2015-11-04 09:29] denar90 commented on #655
Works fine with locally installed phantomjs.
[code]
 It was something wrong with me environment.

[2015-11-04 09:36] #655 closed

[2015-11-05 02:22] scriptjs commented on #519
+1

[2015-11-09 15:27] taras opened #658 "Introduction to Testem at Global Ember Meetup"
EmberCLI uses Testem to run tests. Testem just works, so many people don't really think about it. The setup is fairly transparent to the users. There might be more advanced techniques that most users are not aware of.

Would someone who's very knowledgable with Testem be open to coming on to [Global Ember Meetup](http://global-ember-meetup.com) to share some less known "Tips and Tricks" for workin

[2015-11-10 01:34] rupurt commented on #654
@BrianGenisio @revolunet I'm encountering the same issue :frowning:. CI hangs and unfortunately opening the browser before running testem doesn't work because the server isn't running by that stage.

[2015-11-10 01:53] revolunet commented on #654
I changed my chrome path to the "standard" and it solved the issue; looks like this is hardcoded here : https://github.com/airportyh/testem/blob/f55c8e77c1643ba15f3288e1158eaff81a23e19b/lib/browser_launcher.js#L136

[code]

[2015-11-10 11:23] BrianGenisio commented on #654
FWIW, I upgraded to El Capitan this weekend, and the auto-launcher magically started working again.

[2015-11-10 15:06] rupurt commented on #654
@revolunet can you elaborate on `I changed my chrome path to the "standard"`?

[2015-11-10 15:10] revolunet commented on #654
yes, i had Chrome in a custom path but changed it to `/Applications/Google Chrome.app/Contents/MacOS/Google Chrome` as defined in testem runner source and it worked

[2015-11-10 16:19] sirmdub opened #659 "Commit 4f8393e2e073cf8125e0788a8936e07fafa1fd8b breaks npm install testem at socket.io#1.3.7-pure"
npm ERR! Error: No compatible version found: socket.io@'patocallaghan/socket.io#1.3.7-pure'
npm ERR! Valid install targets:
npm ERR! ["0.3.8","0.4.0","0.4.1","0.5.1","0.5.3","0.6.0","0.6.1","0.6.3","0.6.4","0.6.5","0.6.6","0.6.7","0.6.8","0.6.9","0.6.10","0.6.11","0.6.12","0.6.14","0.6.15","0.6.16","0.6.17","0.6.18","0.7.0","0.7.1","0.7.2","0.7.3","0.7.4","0.7.5","0.7.6","0.7.7","0.7.8","0.7.9","0

[2015-11-10 16:33] johanneswuerbach commented on #659
Thanks,
@patocallaghan could you push your forks to the registry?

Otherwise we run into issue with locked company networks and npm < 2.

[2015-11-10 17:12] stefanpenner opened #660 "git deps cause grief for some"
For some users (often those with strict corp policies) GIT dependencies cause grief

https://github.com/airportyh/testem/blob/master/package.json#L42

[code]

those variants will need to be published to `npm`, let me propose the `-pure` suffix.

* `socket.io-pure`
* `engine.io-pure`
* `ws-pure`

cc @patocallaghan

[2015-11-10 17:14] patocallaghan commented on #659
sure thing, I won't get to it until later tonight though

[2015-11-10 17:22] stefanpenner commented on #660
@johanneswuerbach ideally I would love a release with ^ asap. Let me know your schedule, so I can be sure this is fixed quick enough that your schedule still allows a release.

[2015-11-10 17:26] johanneswuerbach commented on #660
Duplicate of https://github.com/airportyh/testem/issues/659 . I don't have access to push those forks to npm :-( After they are pushed, I can cut a new release until 23 CET.

[2015-11-10 17:26] patocallaghan commented on #660
Yep , will try get these out ASAP

[2015-11-10 17:49] patocallaghan commented on #660
https://www.npmjs.com/package/ws-pure
https://www.npmjs.com/package/engine.io-pure
https://www.npmjs.com/package/socket.io-pure
https://www.npmjs.com/package/socket.io-client-pure

Here's the packages published to npm although each repo will need to be updated to point to one another.

@johanneswuerbach I'll give you access also, just in case you ever need it

[2015-11-10 18:36] johanneswuerbach commented on #660
Will merge and release https://github.com/airportyh/testem/pull/661 as soon as everything passed, we still need to link all packages to each other. I could do that, but I would need access to your forks @patocallaghan

[2015-11-10 19:17] rupurt commented on #654
@revolunet unfortunately mine is already install at the standard location. @BrianGenisio maybe it's time to upgrade to El Capitan :grimacing:

[2015-11-10 22:13] johanneswuerbach commented on #660
@patocallaghan mind also adding me to your `engine.io-client-pure` Apparently this also needs a few changes to use the `ws-pure` version

[2015-11-10 22:39] #659 closed

[2015-11-10 22:39] #660 closed

[2015-11-11 14:50] rupurt commented on #654
@BrianGenisio @revolunet I figured out my problem :smile: :smile: :smile:

I'm using webpack to compile my assets and was using the watch flag. That meant that the `before_tests` hook never finished and never ran any of the launchers.

[2015-11-11 14:55] johanneswuerbach commented on #654
Thanks @rupurt for that feedback, the UX around which hooks are currently running definitely needs improvement.

[2015-11-11 14:58] rupurt commented on #654
@johanneswuerbach no worries. Would you like a PR updating the README with Webpack setup instructions?

[2015-11-11 14:59] johanneswuerbach commented on #654
I think https://github.com/airportyh/testem/tree/master/examples would be a better place, but definitely would welcome that.

[2015-11-11 15:40] rupurt commented on #654
:+1:

@johanneswuerbach do you have any recommendations on how I would get Webpack to recompile on file changes now that I have to run the hook without watching?

[2015-11-11 15:42] johanneswuerbach commented on #654
Sorry, but I never worked with webpack.

[2015-11-11 15:50] rupurt commented on #654
Do you know how Ember-CLI & Browserify do it? It's not clear to me from first glance at the examples.

[2015-11-11 15:55] johanneswuerbach commented on #654
ember-cli has its own watcher and triggers testem programatically on change https://github.com/ember-cli/ember-cli/blob/3c615aa55dfe6be1adf14ef67e74028b09560138/lib/tasks/test-server.js#L41

[2015-11-11 15:56] rupurt commented on #654
Ok cheers for the lead. It would be cool if there was a hook that could be triggered when any of the `src_files` changed. That's kind of what I expected `before_tests` to do.

How hard do you think that would be to add? If it's reasonable I could take a stab at it.

[2015-11-17 08:01] #611 closed

[2015-11-17 09:27] #445 closed

[2015-11-17 19:02] #642 closed

[2015-11-18 22:20] OrKoN commented on #528
I believe I experience the same problem. Node 4.2.2, Phantomjs 1.9.8, Ubuntu 14.04. Here is a travis CI log https://travis-ci.org/OrKoN/simple-jspm-project/builds/91923564 and the test repo for it https://github.com/OrKoN/simple-jspm-project

[2015-11-18 22:36] OrKoN commented on #528
I think I found what's causing the problem in my case: if there are some errors (e.g. parsing errors), testem ci will not exit. The solution is to fix all problem in the code (e.g. arrow functions or use of Promises that are not supported in the phantomjs).

Probably, testem does not detect if some errors happened in the phantomjs.

[2015-11-19 12:14] ArnaudRinquin opened #679 "Running testem along other toolchain elements in the same shell"
I can't figure out a way to run `testem` along other tools such as `webpack` in watch mode using the same `npm script` using [`concurrently`](https://github.com/kimmobrunfeldt/concurrently) such as:

[code]

Problem is that `testem` and its tab based UI is not really keen on sharing the same terminal.

The server mode doesn't really replace dev mode as it does output anything and won't open browse

[2015-11-20 00:36] airportyh commented on #658
@taras thank you for the invite. @johanneswuerbach and I did consider doing this, but alas neither of us can. I wish you a great event!

[2015-11-20 00:36] #658 closed

[2015-11-20 05:42] cdaringe opened #682 "question: custom test page with tape"
Hi all:

I'm trying to use testem on a pretty example page I already have running.  I was hoping something like this would work:

[code]

[code]

In this regard, `tape` is on the window, and I was hoping `testem.js` would pick it up.

<img width="381" alt="screen shot 2015-11-19 at 10 38 12 pm" src="https://cloud.githubusercontent.com/assets/1003261/11292681/a3fe3116-8f0e-11e5-9a00-f3a6eb4d6860.pn

[2015-11-20 07:14] johanneswuerbach commented on #679
Hello, I think the easiest way would be to use a terminal multiplexer like tmux or an orchestration tool like docker compose.

You could also use pure testem like this: https://github.com/testem/testem/pull/683/files, but thiswon't display any `webpack -w` output.

[2015-11-20 11:44] airportyh commented on #682
Testem doesn't actually interact with tape directly. Instead it reads the texts printed by tape in the console, and uses a TAP parser to interpret it. See this [configuration](https://github.com/testem/testem/blob/master/examples/tape_example/testem.json).

[2015-11-20 15:27] cdaringe commented on #682
If you look at the screenshot, however, you'll notice that the output is
not parsed.  The README says when using a test_page that framework and
src_files options are ignored.  I use a configuration like the one you've
linked to in many of my other projects.  This is the first time that I'm
trying to integrate with an existing test_page.

Thanks!

On Friday, November 20, 2015, Toby Ho <notification

[2015-11-20 15:28] johanneswuerbach commented on #682
Could you post your testem config?

[2015-11-20 16:55] cdaringe commented on #682
gladly!

[code]

where `webpack.testem.config.js` =>
[code]

[2015-11-20 21:09] johanneswuerbach commented on #682
Thanks for the config, the following setup works for me:

`testem.json`:
[code]
`test.mustache`:
[code]

[2015-11-21 12:11] johanneswuerbach commented on #682
Add the full example, improvements welcome!

[2015-11-21 12:11] #682 closed

[2015-11-21 12:11] johanneswuerbach commented on #679
Add another testem example https://github.com/testem/testem/pull/684, improvements welcome!

[2015-11-21 12:11] #679 closed

[2015-11-21 12:13] johanneswuerbach commented on #646
You can include those files in `watch_files`. All options are listed here: https://github.com/testem/testem/blob/master/docs/config_file.md#config-level-options

[2015-11-21 12:13] #646 closed

[2015-11-21 12:21] #217 closed

[2015-11-21 13:13] johanneswuerbach commented on #640
Hey, you can actually use `/**/*.js` to get only js files. https://github.com/testem/testem#configuration-file

[2015-11-21 13:13] #640 closed

[2015-11-21 18:12] cdaringe commented on #682
Thanks guys! :)

[2015-11-23 04:15] paulot commented on #631
This doesn't seem to affect the latest version of testem.

[2015-11-23 15:02] ArnaudRinquin commented on #679
Thanks for your answer. Unfortunately, having the test runner dependent of the packager (`webpack` or ...) is something we absolutely want to avoid.

We are looking at writing a reporter that will just output in `stdout` similar to what `karma` does.

[2015-11-23 15:04] johanneswuerbach commented on #679
Sure, I'm currently in the middle of refactoring testem to easily allow changing reporters also in dev https://github.com/testem/testem/pull/664

[2015-11-25 16:54] Vytalyi commented on #371
Was this issue resolved? I have same thing - working tests in dev mode, and 0 in ci mode.

[2015-11-29 23:32] Cmdv opened #691 "Tape + Testem getting console.log output"
I'm combining Tape + Testem and when I try to `console.log` objects the only output I get is `[object Object]`.

example:

[code]

is there a way to get around this as sometimes I'm can't be sure of what sits in the Object to use the dot notation.

Thanks

[2015-11-30 11:54] Cmdv commented on #394
Would be great if there was a way around this as when doing a bit of TDD, it's really difficult if you can look through specific objects via `console.log()`.

how do people get around it otherwise?

[2015-11-30 12:26] johanneswuerbach commented on #394
@mnichols could you try testem master?

[2015-12-01 13:53] Cmdv commented on #691
I ended up using `console.dir(arr)` which seemed to do the trick and output to the browser's console :+1:

[2015-12-01 13:53] #691 closed

[2015-12-03 15:28] cotsog opened #694 "Print stdout and stderr when a browser exits unexpectedly"
Some Travis CI users are currently seeing PhantomJS browser exiting unexpectedly e.g. the following error message is printed:

    not ok 334 PhantomJS - Browser "phantomjs /home/travis/build/org/repo/node_modules/ember-cli/node_modules/testem/assets/phantom.js http://localhost:7357/7638" exited unexpectedly.

Hence I think it would be helpful to print the browser's stdout and stderr content to tr

[2015-12-03 19:37] studio174 commented on #357
I made a script to help delete node_modules folder:

https://github.com/studio174/node-cleanup

[2015-12-06 14:37] bobisjan commented on #694
Hi,

I've just encountered this when running `ember test` with freshly updated application with Ember 2.2.0 and Ember Data 2.2.1.

In my case problem occurs on server with Ubuntu, tests running locally on Mac are passing (both using Phantom 2.0).

[2015-12-16 22:45] #633 closed

[2015-12-18 10:57] thetutlage opened #707 "Tests on phantom js are hanging"
Hi i am using Vagrant to run my tests on PhantomJs, they work fine on my machine using Chrome and firefox.

[code]

[code]

[code]

## Config file
[code]

[2015-12-18 11:21] johanneswuerbach commented on #707
Hard to say without further information, but looks like a phantomjs error. You can enable phantomjs debugging using the `phantomjs_debug_port` config key. All available config flags are listed here: https://github.com/testem/testem/blob/master/docs/config_file.md#config-level-options

[2015-12-18 15:07] thetutlage commented on #707
Sure let me check it out and also try phantom without testem

[2015-12-28 19:51] tonylukasavage commented on #360
I believe I'm encountering the same thing, specifically with the scenario of trying to deliver istanbul coverage results after testem finishes running phantomjs (chrome works fine). Any movement on this in terms of a solution or reliable workaround?

[2015-12-28 22:08] #707 closed

[2015-12-28 22:08] johanneswuerbach commented on #707
Feel free to reopen this issue with further details :-)

[2015-12-28 22:12] johanneswuerbach commented on #265
Frameworks are no longer embedded and users are encouraged to use the custom runner https://github.com/testem/testem/pull/706 for more advanced use cases.

[2015-12-28 22:12] #265 closed

[2015-12-28 22:15] #394 closed

[2015-12-28 22:16] #359 closed

[2015-12-28 22:16] johanneswuerbach commented on #359
This is fixed in testem master now.

[2016-01-02 21:22] #631 closed

[2016-01-02 21:27] johanneswuerbach commented on #216
Having a user-agent match as solution for the issue you describe feels like a workaround for me. You can already make testem match spawned process with connected browser using:

[code]

[2016-01-02 21:27] #216 closed

[2016-01-02 21:30] johanneswuerbach commented on #147
This should be resolved in the latest testem version, which can be installed using `npm install testem@1`

[2016-01-02 21:30] #147 closed

[2016-01-02 21:31] johanneswuerbach commented on #209
This should be resolved in the latest testem version. You can install it using `npm install -g testem@1`.

[2016-01-02 21:31] #209 closed

[2016-01-02 21:33] johanneswuerbach commented on #131
This should be resolved in the latest testem version. You can install it using `npm install -g testem@1`.

[2016-01-02 21:33] #131 closed

[2016-01-02 21:38] johanneswuerbach commented on #528
The issue is that you are loading your src before loading testem, which makes the browser error, before testem had any chance to instrument it. Testem v1 provides now a way to load `testem.js` first and manually hook it into your test framework when it has been loaded:
https://github.com/testem/testem/blob/master/examples/qunit_lazy/test.html

[2016-01-02 21:38] #528 closed

[2016-01-02 21:41] johanneswuerbach commented on #361
This should be resolved in the latest testem version. You can install it using npm install -g testem@1.

[2016-01-02 21:41] #361 closed

[2016-01-04 14:43] jasonkarns commented on #586
Both TravisCI and CircleCI set `CI` env var to `true`. I think that would be a pretty easy way to detect.

https://docs.travis-ci.com/user/environment-variables/
https://circleci.com/docs/environment-variables

[2016-01-04 16:51] quantumlicht opened #721 "Cannot proxy POST/PUT requests"
When I setup a proxy, it works fine for GET request. however, when I want to do a POST request, it usually times out or responds with an empty response.
It looks like the POST body is not taken into account.

I tried to make a test for that. I will gladly submit a PR if you deem it's relevant.

in `server_tests`.js
[code]

and it fails with the following message
Uncaught AssertionError: expected '

[2016-01-04 16:59] johanneswuerbach commented on #721
Sure PRs, are always welcome :-)

[2016-01-11 00:16] trentmwillis opened #732 "Multiple, parallel instances of same launcher?"
I know it's possible to run parallel instances of _different_ launchers, but is there any way currently to run parallel instances of the _same_ runner? As a bonus, can you run multiple instances with different URLs? I attempted this through various config options but it doesn't seem supported currently.

Specifically, I'm looking to parallelize tests during CI by batching tests across multiple ins

[2016-01-20 10:09] avdv opened #737 "skipped tests printed as failures"
We're using ember-cli and today version 1.13.15 was released which depends on testem ^1.0.0.

Now, when running `ember test` all tests which should be skipped with `QUnit.skip` show up as failures:

[code]

But when running using `ember test -f 'xyz' --launch firefox --serve` the CUI displays no errors and in the browser the relevant tests show up as "skipped".

[2016-01-20 10:25] avdv commented on #737
I think I found the problem: https://github.com/testem/testem/blob/master/lib/runners/browser_test_runner.js#L126

Adding

[code]

to the object passed as the second parameter makes it work again.

[2016-01-20 10:31] johanneswuerbach commented on #737
Thanks, mind sending a PR?

[2016-01-20 10:44] avdv commented on #737
Sure thing ;-)

Do you have any pointers as to where I should best put the test?

[2016-01-20 10:46] johanneswuerbach commented on #737
I guess the easiest would be here: https://github.com/testem/testem/blob/master/tests/runners/browser_test_runner_tests.js#L61-L84 The existing tests seems not to cover your case properly.

[2016-01-20 15:28] vedharish opened #739 "Process is not killed properly when running tests from command line"
To reproduce this issue, have a look at this [gist](https://gist.github.com/vedharish/c664d7cad6ecd28926aa).

The gist has 3 files -
1. test.js - This js files writes its own process pid in 'test.log' and has a timeout to wait for the actual test.
2. testem.json - Regular testem.json file to launch test.js in ci mode
3. testem_log_pid.patch - Basically, its purpose is to log the pid of the process

[2016-01-20 15:32] #737 closed

[2016-01-20 16:24] alexlafroscia opened #740 "Skipped tests are reported as failures in 1.0.0"
I have a bunch of QUnit tests that are using the `skip` feature to ignore the test.  On older versions of Testem, they would be reported as passing, but instead they are reported as failures now :frowning:

Confusingly, it only seems to be an issue when running in a `testem ci` environment; if I run the tests normally, they all are reported as passing.

[2016-01-20 16:46] johanneswuerbach commented on #740
This should be resolved in `1.0.1`. Could you verify that upgrading to that version fixes the issue for you?

[2016-01-20 17:03] alexlafroscia commented on #740
There still seems to be something wrong; while the skips _are_ being reported correctly now, `testem` finished with a non-`0` exit code that makes CI think that the tests failed.

[2016-01-21 07:59] vedharish commented on #739
Might be related to nodejs/node#4432 ?

[2016-01-21 09:33] #721 closed

[2016-01-21 09:33] #740 closed

[2016-01-21 15:42] alexlafroscia commented on #740
Thanks for taking care of this!

[2016-01-22 18:12] hbrysiewicz commented on #739
This is happening for me when running from CircleCI. Here are the deats on CircleCI's environment
[code]

[2016-01-22 23:16] hbrysiewicz commented on #739
Ok, so I was able to ssh into the CircleCI box and get X11 forwarded to test out your gist. I do see a different process in test.log from the one testem is trying to kill.

![output](https://s3.amazonaws.com/f.cl.ly/items/2u3f2P0h0P1o3r0z0L1h/Screen%20Shot%202016-01-22%20at%203.14.45%20PM.png?v=1a66c0ee)

[2016-01-23 19:14] johanneswuerbach commented on #739
Hey, could you try using `exe` instead of `cmd`. `cmd` is using [child_process.exec](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback), while `exe` is using [child_process.spawn](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options).

Usage example:
https://github.com/testem/testem/blob/master/examples/s

[2016-01-24 04:40] alexindigo opened #747 "Broken `testem.js` support"
Tests hang if I have `testem.js` instead of `testem.json`,
and I see them get executed twice.

Actual test and subject file for from "dynamic_config" example:

[code]

Seems like something has been changed since 2013
or did I miss something? Original `dynamic_config` test doesn't work for me either.
/cc @johanneswuerbach  @inossidabile

[2016-01-24 05:25] alexindigo commented on #747
Ok, `testem.js` as config file conflicts with `/testem.js` as framework resource in the browser.

Adding

[code]

to the config file helped a bit, now it doesn't hang anymore,
but `on_change` hook isn't being triggered.

[2016-01-25 13:36] avdv opened #749 "Regression introduced in abb0fdcf2"
In commit abb0fdcf2 the reporter logic was changed in regard to what a "passed" check is, that means now any tests which don't test anything (yet) fail:

[code]

Output

[code]

Before that change, the logic was that the test passed, if it didn't fail and it wasn't skipped.

Now (https://github.com/testem/testem/blob/abb0fdcf2c6c84405999b632c9eda8a34076852e/lib/runners/browser_test_runner.js#L95),

[2016-01-25 13:40] johanneswuerbach commented on #749
Thanks for that detailed issue :bow: I guess I'll have to look through all the reporters again and double check what they emit.

You code looks like a great hot fix, mind sending a PR?

[2016-01-25 14:10] avdv commented on #749
Sure, PR submitted (#751)

[2016-01-25 22:09] #749 closed

[2016-01-28 08:31] seawatts opened #763 "Testem hard crash with 1.1.2"
Ever since the release of `1.1.2` I have been seeing the following error.
I am using testem with `ember test --server`
It looks like `ember-cli` has a version of `^1.0.0` which would resolve to `1.1.2`
https://github.com/ember-cli/ember-cli/blob/v2.3.0-beta.1/package.json#L116

When I run this command everything works fine the first time around. However, if I change a file it will try to reload te

[2016-01-28 14:23] musaffa commented on #763
Confirmed. It crushes with a fresh installation of an ember app.

[2016-01-28 15:42] #763 closed

[2016-01-28 22:58] Cmdv opened #765 "Integration with Ava"
Trying to integrate [Ava](https://github.com/sindresorhus/ava) with Testem. Ava isn't browser ready but I wanted to just use Testem in the terminal from Ava's tap output.

I can get both working together but I wondered if I could get more information out than just:

<img width="500" alt="screen shot 2016-01-28 at 22 47 58" src="https://cloud.githubusercontent.com/assets/3036557/12661474/af27e23c-c

[2016-01-29 10:34] vedharish commented on #739
Using `exe` works for me

[2016-01-29 15:26] johanneswuerbach commented on #765
Yes, test details should be reported for tap printing processes. Looks like this is broken.

[2016-01-29 16:01] jreading commented on #212
FWIW, I am having this problem. We have tons of deprecation warnings in one app and about 80 tests. Everything eventually grinds to a halt.

[2016-01-29 16:07] johanneswuerbach commented on #212
Mind creating a new issue with more details (browser, node version, etc.)?

[2016-01-29 17:03] Cmdv commented on #765
Ah ok, wasn't entirely sure if I'd set things up incorrectly but if anyone requires more information then let me know

[2016-01-30 11:25] GCorbel opened #768 "Keeps servers in background"
With an ember app, I want to speed up the execution time of tests. I want to know if it's possible to keep a server running in background in ci mode. Is there a way to do it?

[2016-01-31 18:46] johanneswuerbach commented on #768
I'm not sure what you mean, but you can start your server using `on_start` and `on_exit`. https://github.com/testem/testem/blob/a456e256ac75dbd824e43b9467b3570b4d8cfd19/docs/config_file.md#available-hooks

Example testem.json to spawn your server:
[code]
Or to spawn your server and wait for a specific output before running your tests.
[code]

[2016-02-01 04:44] #739 closed

[2016-02-01 16:36] aortbals opened #772 "dbus-launch with chromium via xfvb does not launch"
When upgrading from [ember-cli#v2.2.0-beta.1](https://github.com/ember-cli/ember-cli/releases/tag/v2.3.0-beta.1) to [ember-cli#v2.3.0-beta.1](https://github.com/ember-cli/ember-cli/releases/tag/v2.3.0-beta.1), testem was upgraded from `0.9.11` to `1.1.3` (resolved from `^1.0.0`). This includes the [dbus-launch changes](https://github.com/testem/testem/pull/689). This causes the following error whe

[2016-02-02 20:00] johanneswuerbach commented on #772
Sorry, I'm going to revert this change.

[2016-02-02 20:13] aortbals commented on #772
Thank you @johanneswuerbach!

[2016-02-02 20:24] #772 closed

[2016-02-02 20:26] johanneswuerbach commented on #772
Released in `v1.2.1`

[2016-02-02 21:19] johanneswuerbach opened #777 "Various reports of disconnected browsers"
Developers seems to run into issues with testem 1+ about browsers randomly disconnecting.

https://github.com/ember-cli/ember-cli/issues/5414
http://discuss.emberjs.com/t/why-is-phantomjs-disconnecting/9636

@musaffa mind posting your OS and the browser(s) you tried, which had that issue?

[2016-02-02 21:29] musaffa commented on #777
OS: Linux 3.13.0-27-generic Ubuntu x86_64
Phantomjs: 2.0.0

[2016-02-02 21:37] davidhao3300 commented on #772
Rather than completely reverting the change, can we not set this line to only Chrome? https://github.com/testem/testem/pull/776/files#diff-f6055c71cdaa57eff4423a9403d5b00bL252

[2016-02-02 21:41] johanneswuerbach commented on #772
Yes, we could do that, but I would like to have a regression test for this this time.

[2016-02-02 21:43] davidhao3300 commented on #772
I can do that, can you point me to where the integration tests are located?

[2016-02-02 21:45] johanneswuerbach commented on #772
Also it seems a bit weird to have this workaround in testem itself, shouldn't the script executing testem have this instead? Its making a lot of assumptions of the environment that browser is running in.

Integration tests are here: https://github.com/testem/testem/blob/master/tests/ci/ci_tests.js Travis might have chrome installed, but I'm not sure.

[2016-02-02 21:49] davidhao3300 commented on #772
Yeah I agree, I'm not sure where else to put this workaround for now though; Chrome developers have decided to put the workaround in their own test scripts as well =_=. Finding the issue/workaround took a lot of time/effort that I don't want others to have to go through, and it involves duplicating a lot of Testem's Chrome browser config.

Ignoring the part about Karma, this looks like a guide to

[2016-02-02 21:55] johanneswuerbach commented on #772
On the other side @aortbals is using chromium, which should also be problematic as its a chromium https://code.google.com/p/chromium/issues/detail?id=309093 bug, this workaround breaks him, so I guess we would either detect that issue differently or move it out of testem launchers and into a `before_test` or something.

[2016-02-02 21:56] davidhao3300 commented on #772
We do differentiate between Chrome and Chromium, so wrapping only Chrome and not Chromium should be ok

[2016-02-02 22:17] johanneswuerbach commented on #772
But shouldn't that bug also occure on chromium? Before this will be reintroduced we should also check why this hack failed for aortbals so I wont break others again. After re-reading the chromium issue I still think this hack shouldn't be the default launcher for linux but instead documentend and just executed as part of a ci run before running testem. Wdyt?

[2016-02-02 22:25] davidhao3300 commented on #772
Haven't experienced it on Chrome myself, and we should be on the most recent version of Chrome/Testem

[2016-02-02 22:27] davidhao3300 commented on #772
Well, the main reason why I introduced this workaround is because Chrome consistently hangs for us on our Linux machines, didn't realize it affected Testem's tests as well lol. We can also introduce this as a flag that's by default off if it turns out this affects users differently for whatever reason.

[2016-02-02 22:34] aortbals commented on #772
The version of Chromium I had this issue on:

[code]

We test a lot of applications using chromium + xvfb + jenkins on 64-bit Ubuntu 14.04 and have never had an issue that required a workaround like wrapping in `dbus-launch`.

[2016-02-02 23:05] davidhao3300 commented on #772
Alright, I'll take a deeper look tonight/tomorrow. We also use Xvfb + jenkins on 64-bit Ubuntu 14.04, but we use google-chrome instead.

[2016-02-02 23:39] davidhao3300 commented on #772
I'm reading the dev forum you linked and just realized this is one I originally found lol. If you look at https://code.google.com/p/chromium/issues/detail?id=309093#c85, the comment indicates that glib is causing issues. Could you run the command `ldd --version` on your Jenkins machine? I want to see if a version difference is causing the discrepancy in issues

[2016-02-03 04:11] jamesarosen commented on #777
The following *may* be germane, but I am not confident. Take with a grain of salt.

ember-cli/ember-cli#5414 -- each time I save a file, a new Chrome window opens to run the tests. If this happened only *once* (resulting in two windows), then it would suggest to me that the problem was in the browser half of the socket connection. Since *each* save opens a new window, I believe the fault may live

[2016-02-03 04:53] jamesarosen commented on #777
Another interesting finding: in the case where rebuilding (in Ember-CLI) opens new Chrome windows, the windows request and receive, but do not run `testem.js`.

<img width="563" alt="testem-response" src="https://cloud.githubusercontent.com/assets/2406/12773248/93b94884-c9ee-11e5-877c-886b3cd9391a.png">
<img width="591" alt="testem-headers" src="https://cloud.githubusercontent.com/assets/2406/1277

[2016-02-03 15:26] aortbals commented on #772
[code]

[2016-02-03 16:59] davidhao3300 commented on #772
glib versions are the same
Google Chrome version:
```google-chrome-stable        47.0.2526.106-1    amd64              The web browser from Google```
Looks like we are out of date by 1 major version, I'll try to upgrade today and see if that changes anything.

[2016-02-03 19:16] jamesarosen commented on #777
If I run testem locally (via ember-cli, with `ember test --serve --filter="..."`), then all the tests pass in the two environments I have specified (phantomjs and Chrome):

<img width="332" alt="testem-first-run" src="https://cloud.githubusercontent.com/assets/2406/12793922/7fc998e6-ca67-11e5-9794-5d083cc0e225.png">

 If I press Enter in the testem window to rerun the tests, I get the disconnected

[2016-02-03 19:28] davidhao3300 commented on #772
Upgrading Chrome to 48.0.2564.97-1 didn't change anything. Testem is returning "{browser} exited unexpectedly with exit code 1", which is different from before where it just hung. I'll look into this more.

[2016-02-03 19:35] jamesarosen commented on #777
The disconnect doesn't seem to interfere with the tests continuing to run or being reported back. It doesn't even interfere with `console.log` statements being shipped over the socket -- they appear in the Testem console as well.

Changing `onDisconnect` to the following lets our test suite pass just fine:
[code]

[2016-02-03 20:18] davidhao3300 commented on #772
Fixed the exiting problem, Chrome hanging still affects me without dbus-launch (aka using the latest version of Testem).
I haven't seen any issues about Chrome failing, so perhaps the solution is to just wrap only Chrome in dbus-launch.

[2016-02-05 20:14] Foxandxss opened #779 "PhantomJS2 support?"
I need PhantomJS2 support but I am not sure if testem is supporting it.

Thanks.

[2016-02-05 21:14] johanneswuerbach commented on #779
It is :+1:

[2016-02-05 21:14] #779 closed

[2016-02-05 21:15] Foxandxss commented on #779
But how? I get 1.9

[2016-02-05 21:31] Foxandxss commented on #779
My bad, seems that it is travis the problem in here.

So sorry.

[2016-02-07 15:41] jmurphyau commented on #777
@johanneswuerbach I read the [ember forum post](http://discuss.emberjs.com/t/why-is-phantomjs-disconnecting/9636/7)

If you enable the remote debugger port in phantomjs you can then connect to it via a websocket and get console logs that appear to be more complete.. I've just been doing some work to figure out the messages to send and the format of the responses..

Before:

<img width="1179" alt="

[2016-02-07 17:12] johanneswuerbach commented on #777
Great findings! I would be open for a draft PR with a first draft and improve it in the future or an issue as you like.

[2016-02-08 21:42] johanneswuerbach commented on #777
Testem `v1.2.2` should include a fix for this now. https://github.com/testem/testem/issues/781 Also the browser disconnect timeout is now configurable. Sorry for the long delay.

[2016-02-08 22:17] musaffa commented on #777
Thanks it works now. Is this fix just a workaround?

[2016-02-08 23:56] brancusi commented on #777
Works! Thank you!

[2016-02-09 20:09] efx commented on #360
+1. Seeing this in an ember-cli app

[2016-02-09 21:11] johanneswuerbach commented on #777
@musaffa both a fix for the never reset pending timeout and a workaround for larg-ish apps sometimes need longer then a second to load before the testem client can report back to the testem server.

[2016-02-09 21:11] #777 closed

[2016-02-09 21:13] musaffa commented on #777
:+1:

[2016-02-10 00:48] m59peacemaker opened #783 "`testem` command isn't reporting `before_tests` error."
I've created a repo that demonstrates the issue. https://github.com/m59peacemaker/issue-testem-before_tests

The js file has a syntax error, so browserify will fail.
`before_tests` runs browserify and fails and the testem interface just hangs rather than reporting an error.

[2016-02-10 04:38] jamesarosen commented on #777
#781 (v1.2.2) does not fix my disconnection issues. Using the default timeout of 10s, we now get

[code]

I'm trying some extra `console.log`ging now...

[2016-02-11 19:38] mtrivolli opened #784 "Typescript tests with system.js"
Hi,

I have testem working with typescript files and jasmine. However, if I use es6 style imports (which typescript is transpiling to system.js), testem ignores that test. It looks like 'testem' does not recognize System.register style calls as a valid jasmine test. Here's a transpiled example:
[code]

Is there any way to tell testem to skip those checks and just trust blindly that any file matchi

[2016-02-14 03:16] Vanuan opened #785 "Zillions of Chrome tabs opened"
The bug in fireworm causes testem to detect false file modifications, resulting in a new browser instance launched for each file.

Please update testem as soon as this is merged and a new version of fireworm released:
https://github.com/airportyh/fireworm/pull/10

[2016-02-14 19:36] davidgoli commented on #785
:+1:

[2016-02-14 19:37] davidgoli commented on #785
More info here: https://github.com/testem/testem/issues/777

[2016-02-14 19:45] Vanuan commented on #785
Yeah, could be related.

[2016-02-14 20:03] johanneswuerbach commented on #785
This https://github.com/testem/testem/pull/786 should fix the issue. I plan to release a new version including this tomorrow.

[2016-02-14 20:20] Vanuan commented on #785
@johanneswuerbach No, this is a different one. Timeout is a crazy workaround. I don't want to wait more just because you can't write asynchronous code properly. You should fix the underlying issue in the file watcher.

[2016-02-14 20:30] johanneswuerbach commented on #785
Sorry, but I guess you are mistaken here. The filewatcher is just triggering flawed changed events, but testem shouldn't open more then one tab (the filewatcher should still be fixed, but as you can see this isn't my repo / not my control). The referenced PR fixes this tab issue and introduces a new functionality (start timeout errors).

[2016-02-14 21:01] Vanuan commented on #785
I'm sorry if I was too harsh, but I've spent too much time hunting down that bug.

[2016-02-15 08:05] yonida opened #787 "typo in mocha example"
In the following two examples there is a typo in mocha.css path

https://github.com/testem/testem/blob/e893e9a4dbc9369387fb69c8e4def40e9b64d908/views/mochachairunner.mustache

https://github.com/testem/testem/blob/e893e9a4dbc9369387fb69c8e4def40e9b64d908/views/mocharunner.mustache

`<link rel="stylesheet" href="//cdjs.cloudflare.com/ajax/libs/mocha/2.3.4/mocha.css">`
should be
`<link rel="styleshe

[2016-02-15 08:13] johanneswuerbach commented on #787
Good catch, mind sending a PR?

[2016-02-15 08:14] yonida commented on #787
sure

[2016-02-15 08:21] yonida commented on #787
looks like it is already fixed on master. should I close this one?

[2016-02-15 08:23] #787 closed

[2016-02-15 12:00] johanneswuerbach commented on #785
`testem@1.3.0` is now released an should fix the tab issue. Rephrased this issue title as a reminder to bump fireworm ones the new version is released.

[2016-02-15 13:26] Vanuan commented on #785
Can't reproduce multiple tabs issue in 1.3.0. Thanks!

[2016-02-15 17:08] amk221 commented on #438
Thoughts on bing able to configure everything rather than _just_ the launchers?

e.g. When in development I want the reporter to be 'dot', but in ci mode I want the reporter to be 'xunit' and for it to output to a different reporter file. (Currently this can be done with an entirely separate config file though)

[2016-02-16 10:46] elfet commented on #229
+2

[2016-02-17 01:16] jreading opened #791 "Xunit report should not include name attribute on failure nodes"
I'm still having trouble getting Jenkins to parse the xunit report generated by testem.

I've found [this validator](http://www.freeformatter.com/xml-validator-xsd.html) that fails on the name attribute on the failure element. This is by using [this XSD] (https://svn.jenkins-ci.org/trunk/hudson/dtkit/dtkit-format/dtkit-junit-model/src/main/resources/com/thalesgroup/dtkit/junit/model/xsd/junit-4.xs

[2016-02-17 07:00] johanneswuerbach commented on #791
Yes, a PR sounds great.

[2016-02-18 02:10] Vanuan commented on #791
Having the same problem

[2016-02-18 02:14] Vanuan commented on #732
Oh, so parallel option is only for different launchers?
Yeah, sounds obvious, since there's only one html file.

[2016-02-18 02:16] Vanuan opened #793 "Slower than mocha-phantomjs"
I've recently migrated to testem ci from mocha-phantomjs. And it looks like testem ci is 3 times slower.
Do you have any idea why this would be the case?

[2016-02-18 14:53] jreading commented on #793
I have found that the console messages slow down the phantom testing to the point of running out of memory in high test counts. I killed console in my client host file and it's way faster. Do you have many console messages?

[2016-02-18 19:08] #791 closed

[2016-02-19 19:12] jreading commented on #791
FYI, Jenkins Junit reader happy now!

[2016-02-19 19:18] johanneswuerbach commented on #791
Thanks, released as `v1.4.0`

[2016-02-20 01:02] Vanuan opened #796 "Documentation for remote selenium"
Don't see any example how to use testem with a remote browser (Selenium hub/Sauce Labs/BrowserStack). Is it even supported?

[2016-02-20 07:57] johanneswuerbach commented on #796
You mean?
https://github.com/testem/testem/tree/master/examples/saucelabs
Or
https://github.com/testem/testem/tree/master/examples/browserstack

Anything further you were looking for?

[2016-02-20 08:00] Vanuan commented on #791
Looks like Jenkins still split test results into "Phantom 1" and "9". A different problem?

[2016-02-20 08:55] Vanuan commented on #796
It looks like both are creating a tcp socket somehow to the real webdriver.
Is is possible to do this with Selenium Hub? I suppose some additional gem can be written.

[2016-02-20 08:59] Vanuan commented on #796
Found this: https://github.com/akiellor/testem-selenium-launcher/blob/master/bin/selenium-launcher
Looks like it is what I'm looking for.

[2016-02-22 00:03] trentmwillis commented on #732
@johanneswuerbach just noticed you added a "feature" label to this. I'll see if I can implement something, but I want to discuss the API before beginning work.

I think this should be broken into two features:

1. run parallel instances of the same runner, and
2. run instances with multiple test pages

I tend to think for (1) that this should just be the default if a value greater than `1` is spec

[2016-02-22 09:04] johanneswuerbach commented on #732
I really like the array of test pages idea :+1:

The `parallel` setting currently allows you to control your launchers like the following:
* `-1`: All launchers are run in parallel
* `x < launchers`: Launcher runs are pooled and will never exceed `x`, this is important for platforms like saucelabs were you are only allowed to run a limited number of jobs in parallel.
* `x > launchers`: Just runs e

[2016-02-23 05:02] wilmoore commented on #176
@spinlock99 I ended up going with http://webdriver.io.

[2016-02-23 12:24] olivierlesnicki opened #797 "Provide PhantomJS path"
Say phantomjs is not globally installed on my system. Is there a way I can configure the path?
Say `./node_modules/.bin/phantomjs`

[2016-02-23 12:42] johanneswuerbach commented on #797
When you project is using https://github.com/Medium/phantomjs, testem should fine the local installation of phantomjs automagically. Otherwise `phantomjs` needs to be in your `$PATH`.

[2016-02-23 15:24] alexindigo commented on #797
@olivierlesnicki if you run testem via npm-scripts you have your `./node_modules/.bin` in the PATH and testem would pick up your local copy of phantomjs.

[2016-02-23 15:24] olivierlesnicki commented on #797
good call!

[2016-02-23 17:12] trentmwillis commented on #732
Just to make sure I'm understanding, this means we would essentially use the array of test pages to determine whether multiple instances of a single launcher are run, correct?

So if I had:

[code]

I would get 2 instances of PhantomJS, the first would run `/tests?batch=1` and the second with `/tests?batch=2`? This would mean that the number runs is essentially `(# launchers) * (# test pages)`.

I

[2016-02-23 17:16] johanneswuerbach commented on #732
Yes, exactly.

And just to be 100% sure, this should run then two batches with 2 instances of phantomjs.
[code]

[2016-02-23 17:18] trentmwillis commented on #732
:+1: sounds good. Will try to work on this sometime soon.

[2016-02-23 17:30] alexindigo commented on #732
Did I understand correct that `?batch=N` is not something required by `testem`, but something for tests suite to differentiate on, correct?

So if I want to run same tests in parallel,  I could do like this:

[code]

[2016-02-23 17:31] trentmwillis commented on #732
@alexindigo yeah, it's not a required thing, just an example. The test pages could be whatever you want.

[2016-02-23 17:32] alexindigo commented on #732
Cool. Thanks for the clarification.

[2016-02-23 17:48] machty opened #798 "1.4.0: `iframe.contentWindow` undefined is not object errors"
Upgrading to testem 1.4.0 seems to break things on ember-cli: https://travis-ci.org/machty/ember-concurrency/jobs/111267517

[code]

Downgrading to 1.3.0 fixes this issue.

/cc @rwjblue and @abuiles

[2016-02-23 17:50] johanneswuerbach commented on #798
Looks like a race condition when the iframe is not embedded fast enough.

[2016-02-23 17:50] #797 closed

[2016-02-23 18:02] rwjblue commented on #798
@johanneswuerbach - Agreed.  Unless someone else tackles this first, I'll try to dig into it tonight...

[2016-02-23 18:52] spinlock99 commented on #176
Nice @wilmoore. We use webdrive.io as well. I have to admit that it's really hard to write good tests with webdriver though. We get different results almost every time we run them.

[2016-02-23 19:23] brancusi commented on #798
Getting this as well on any change after initial startup.

[2016-02-23 19:46] alexindigo commented on #176
I've created `buster-functional` some time ago for lightweight (developer-oriented) functional testing, but I'm yet to make it work with `testem` _(still waiting for a free weekend)_. :)

[2016-02-23 21:17] bantic commented on #798
I will tackle this tonight if @rwjblue doesn't beat me to it. Should be a quick fix.

[2016-02-23 21:26] johanneswuerbach commented on #798
Is any of you using `postMessage` in their own app? This is a quick fix, which seems to solve the issue for ember-concurrency: https://github.com/testem/testem/pull/799

[2016-02-24 01:17] Vanuan commented on #732
How would it split tests into batches? Would it hook into mocha's .only tests?

[2016-02-24 01:22] Vanuan commented on #732
Ok, I think I got it. You propose to write different tests into different html pages, right?

[2016-02-24 01:25] Vanuan commented on #793
Do you mean js console or command line shell? How did you kill it?

[2016-02-24 01:54] jreading commented on #793
stuck this in my client.mustache

[code]

[2016-02-24 05:56] bantic commented on #798
Looks like ember-concurrency uses [`postMessage` via a dependency on Rx.js](https://github.com/machty/ember-concurrency/blob/master/vendor/dummy-deps/rx.js#L1297-L1307). I've confirmed that's where the too-early messages that trigger the `iframe.contentWindow` problem come from.

[2016-02-24 05:59] machty commented on #798
Interesting, I think that's where @abuiles also saw these issues coming from.

[2016-02-24 07:12] #798 closed

[2016-02-24 09:40] johanneswuerbach commented on #798
Published as `v1.4.1`

[2016-02-25 23:03] rwjblue opened #803 "XUnit output to stdout when xunit_intermediate_output and report_file are present?"
When the `xunit_intermediate_output` option is set to true and `report_file` is specified, I believe we should disable printing the XUnit output to `process.stdout`.  When both options are set, we actually get test output in three places (the report file, the intermediate TAP style output in stdout, and a giant blob of xml in stdout).

This is currently done [here](https://github.com/testem/testem

[2016-02-26 15:34] callumlocke opened #805 "Testem exits with error code 1 immediately on Node 5.7"
I'm on Node v5.7.0 on OS X Yosemite.

1. `npm install -g testem`
2. `mkdir new-project && cd new-project`
3. `testem`

I see a tiny flash of the "Waiting for runners..." screen, then it exits immediately and scrolls my terminal down so I'm at a new prompt. When I scroll back up I can see this:

[code]

I ran `echo $?` afterwards to check testem's exit code, and it was `1`. But there was no error p

[2016-02-26 15:44] callumlocke commented on #805
ahh it seems I was running testem in another tab, and this causes testem in a new tab to completely fail, possibly because the port is occupied.

Keeping this open and renaming it

[2016-02-26 18:18] stefanpenner opened #806 "improve build feedback output"
Im not 100% sure although I have some ideas on how to improve this, but let me illustrate the  issue.

In the scenario, where a build-tool is pragmatically invoking testem (and telling it to restart) the build tool may have additional feedback for the users. For example, if during test iteration the user introduces a syntax error, the build-tool will likely catch, and choose to not restart testem

[2016-02-26 18:23] johanneswuerbach commented on #806
Would it be an option to render the build output as console log / error statements into the page as testem is already displaying them?

[2016-02-26 18:34] stefanpenner commented on #806
@johanneswuerbach ya i believe that would be best. Im i don't think stoping and starting testem makes sense, as we will likely just confuse users.

Just like ember-cli, if a build error occurs, testem UI (both console, and browser) should render that information.

An idea would be, as a sibling to api.restart:

[code]

[2016-02-26 21:38] vine77 opened #808 "Add ability to pass flags to browser"
It [looks like](https://github.com/testem/testem/blob/v1.4.1/lib/browser_launcher.js#L133) the command line arguments used for browsers are hard-coded. It would be nice to, for example, be able to pass the forthcoming [`--auto-open-devtools-for-tabs`](https://bugs.chromium.org/p/chromium/issues/detail?id=410958) to launch Chrome with DevTools opened.

[2016-02-26 22:06] stefanpenner commented on #732
@Vanuan i believe adding segmentation support to the test runners is perfectly reasonable.

[2016-02-27 00:30] Vanuan commented on #732
Yeah. I mean, if a given test runner (e.g. [parallel-mocha](https://github.com/atsuya/parallel-mocha)) supports parallelism, why should we use such a hack as multiple test pages, we should be able to reuse the same page using ".only" or something like that.

[2016-02-28 19:12] johanneswuerbach commented on #732
I think there has been a little misunderstanding, test page means in this case (testem config) a relative url, which can be either `A.html` & `B.html` or `A.html?batch=1` & `A.html?batch=2`.

While auto-parallelizing sounds like an interesting idea, I don't think its in the scope of V1 of this feature and something which should be added later. Having multiple "pages" already allows you to easily s

[2016-02-28 19:13] johanneswuerbach commented on #806
Yep, sounds reasonable. I'll try to add those endpoints during next week as time permits :-)

[2016-02-28 19:17] johanneswuerbach commented on #803
Yep, I think removing this makes totally sense :+1:

[2016-02-28 19:28] rwjblue commented on #803
Awesome, I'll work on that after getting my other PR to pass...

[2016-02-29 15:11] gavruk opened #809 "node_example doesn't work"
`examples/node_example`

When I run `npm test` (`"test": "node ../../testem.js ci -P 10 --launch node --" `), I see:

[code]
To make it work, I need to update `testem.json`
from
[code]
to
[code]

But when I run `node ../../testem.js --launch node --`, I see:
![347592c8e3](https://cloud.githubusercontent.com/assets/507195/13398633/424a5a1a-df10-11e5-9e47-fba296b88e8d.jpg)

This means example is not

[2016-02-29 16:53] alexindigo commented on #809
@johanneswuerbach Looks like this one bites us again: https://github.com/testem/testem/pull/748#discussion_r50686463

[2016-02-29 16:57] johanneswuerbach commented on #809
Yes, that example should have only:

[code]

as only the exit code is verified in this case. Will look how the messaging inside testem can be improved in this case.

[2016-02-29 17:00] gavruk commented on #809
@johanneswuerbach this way also doesn't work
![df866d603b](https://cloud.githubusercontent.com/assets/507195/13401918/0f1a074e-df1f-11e5-8b10-1c1f862c23ee.jpg)

[2016-02-29 17:05] alexindigo commented on #809
@johanneswuerbach Just to have better understanding, it supposed to execute tests on file, right?

[2016-02-29 17:09] johanneswuerbach commented on #809
There a basically three modes in testem for launchers:

a) `none`: launch a process and wait until it exited, then mark it as passed (exit code 0) or failed (any other exit code)
b) `tap`: Used when the process prints parseable tap output to have more details and mark the tests passed / failed from the parsed output
c) `browser`: When the process is a browser

Basically a) should always work and b

[2016-02-29 17:12] alexindigo commented on #809
So `mocha` has to output `tap` in order to get proper reporting?
And by default it goes with spec of something, correct?

[2016-02-29 17:13] gavruk commented on #809
@alexindigo correct. Mocha is `-R tap` to output in tap format

[2016-02-29 17:15] alexindigo commented on #809
Funny, it just happened that I'm using `tap` everywhere, and was under impression that testem supports other formats as well. :)

[2016-02-29 18:00] juwalter commented on #809
Hi there, anyone up for it? I put it on bounty source

https://www.bountysource.com/issues/31444340-node_example-doesn-t-work

[2016-02-29 18:24] alexindigo commented on #809
@juwalter It would nice to understand what is desired outcome. So far it's not clear.
@johanneswuerbach Do you have any specific path in mind? Last time we've talked about it I've got impressions you're happy with the thing.

[2016-02-29 18:27] gavruk commented on #809
@alexindigo the desired outcome is to make test result to be shown like this

![](https://raw.githubusercontent.com/testem/testem/master/images/green.png)

using the custom `mocha` command

[2016-02-29 18:28] johanneswuerbach commented on #809
The course of action I see here is to remove this line https://github.com/testem/testem/blob/master/examples/node_example/testem.json#L5 and fix that it report looks like
[code]

or in the UI as @gavruk posted.

[2016-02-29 18:30] juwalter commented on #809
I agree w/ @johanneswuerbach

actually, both outputs should be possible, depending on how you prefer the reporting of test results

[2016-02-29 18:31] johanneswuerbach commented on #809
Which it actually does for me:
[code]

Mind posting OS / Node version @gavruk ?

[2016-02-29 18:33] gavruk commented on #809
@alexindigo `testem ci` works great. But the issue is when you run `testem` in TDD mode (without `ci`)
node 5.3, OS X 10.11.3

[2016-02-29 23:23] johanneswuerbach commented on #809
https://github.com/testem/testem/pull/810 should fix your issues.

[2016-03-01 11:36] juwalter commented on #809
@gavruk can you please confirm?

[2016-03-01 12:24] #809 closed

[2016-03-01 14:02] gavruk commented on #809
Not sure if this is related, but with the following config
[code]
when I run `../../testem.js`, all tests haven't been ran, and then ran again immediately.

And If I click enter multiple times (re-run tests), I see
`(node) warning: possible EventEmitter memory leak detected. 11 processError listeners added. Use emitter.setMaxListeners() to increase limit.` and process exits

[2016-03-01 14:06] johanneswuerbach commented on #809
Not really related, could you open another issue for that?

[2016-03-01 15:41] choclaudio opened #811 "maxDepth in public/testem/decycle.js"
the payload depth has increased by one but the maxDepth in decycle.js has not reflected this change.
This has the implication that message/stack in errors fall outside of the maxDepth.

Bumbing up maxDepth to 5 (from 4) in decycle.js  solves the issue.

[2016-03-01 15:42] bantic commented on #811
Probably related to https://github.com/testem/testem/pull/792.
Can you explain how to view/confirm this error so that I can confirm the fix?

[2016-03-01 15:55] choclaudio commented on #811
Hi @bantic, fast response, cool :+1:

In my case I can create an empty Ember(2.3+) project (uses testem) and just run the tests with any reporter or even just with the --server flag.

so on a vanilla Ember project running
ember-test
ember test --server (look the console output not the web-output)
ember test --reporter teamcity

used to produce the error message and stack trace, but it no longer do

[2016-03-01 15:58] choclaudio commented on #811
@bantic it might be good if I clarify that I am breaking jshint rules on purpuse to produce a failed test.

[2016-03-01 16:49] gavruk opened #812 "Problem when watching files with custom command"
Testem in development mode performs unexpected behavior when I use `watch_files` (runs twice and exists)

`testem.json`
[code]
Folders structure:

`lib` folder
[code]
`tests` folder
[code]
`tests.js` looks like this:
[code]

Here is how it works (process stops automatically, I don't do anything)
![testem](https://cloud.githubusercontent.com/assets/507195/13434288/63b7f172-dfe6-11e5-98ca-e682fa9bee

[2016-03-01 20:16] #811 closed

[2016-03-02 15:41] jreading opened #815 "Xunit reports formated incorrectly"
The commit 284cfb3830cfba14fa9c7dd0a5c2b66a9b7229c5 by @rwjblue  is using the error node when it should be using the failure node. I don't think we are making the distinction between a failed test and an errored test. Consequently, failing tests aren't read correctly by Jenkins reader.

[2016-03-02 16:31] rwjblue commented on #815
https://github.com/testem/testem/pull/816 reverts to using `<failure>` instead of `<error>` which I still personally think is incorrect, but I totally agree that a breaking change should be avoided.

https://github.com/testem/testem/commit/284cfb3830cfba14fa9c7dd0a5c2b66a9b7229c5 also properly logged actual failures that do not trigger errors (which were previously completely ignored), that portio

[2016-03-02 18:58] jreading commented on #815
Ok, I've tested this with various permutations of the XML with Jenkin's picky Junit reader.

Everything seems to be parsing correctly, with `error` and `failure` nodes.

I'm super sorry about the churn. It seems that your original PR is golden. I owe you all a beer.
:beers:

I saw failing tests not getting reported and your recent change and made a false connection. Good catch on the passed flag.

[2016-03-02 20:24] johanneswuerbach commented on #815
So the revert should be reverted? :confused:

[2016-03-02 20:35] jreading commented on #815
The revert should be reverted. Error and failures both get parsed correctly and @rwblue had a good PR. My mistake was not realizing that we were never reporting failures correctly to begin with, only errors as failures.

[2016-03-03 12:16] #815 closed

[2016-03-03 19:15] trentmwillis commented on #808
Seems like it should be possible to concat custom args within the [`getArgs` function](https://github.com/testem/testem/blob/master/lib/launcher.js#L124-L134) to get this support. Would need to define an api for passing in those custom arguments, but after that I feel like it could be relatively straightforward.

[2016-03-04 19:28] dbushong opened #821 "Can no longer set custom reporter in testem.js"
As of https://github.com/testem/testem/commit/1ea331eaa192b737722ec8154d8839f6e56d2d03 you can no longer configure a custom `reporter` in `testem.js`:

The priority of `fileOptions` is lower than that of `progOptions`, and `progOptions` has a default for `-R` (`tap`), thus no matter what you put in `testem.js` for `reporter`, it never gets used.

[2016-03-04 19:51] johanneswuerbach commented on #821
What is defaulting `progOptions` to `tap`? Are you using testem standalone or with `ember-cli`?

[2016-03-04 20:03] dbushong commented on #821
https://github.com/testem/testem/blob/master/testem.js#L36 standalone

[2016-03-05 04:51] jreading commented on #360
I'm seeing this too now.

[2016-03-07 12:45] gwenaelp commented on #821
I have this issue too. If you unset the default option in https://github.com/testem/testem/blob/master/testem.js#L36, it works like a charm.

Any plans to handle this upstream?

[2016-03-07 12:53] johanneswuerbach commented on #821
Sure, PRs welcome. I'll have a look as soon as I have time.

[2016-03-07 17:14] jreading commented on #360
I have been thinking about this and wondering if it makes sense to implement a "sendCoverage" or similar functionality via a config. This seems like a very common use-case, it might sense to wrap the kill command that gets fired on "onAllTestResults" with a check for this flag and run kill on the updated readyState (done) from the ajax request. The URI and port can come from the config. Thoughts?

[2016-03-07 17:20] johanneswuerbach commented on #360
I would prefer to have a more generic way to register async afterTests / beforeTests hooks, but would gladly accept a PR.

[2016-03-07 18:30] efx commented on #360
A generic way would be lovely. @jreading These lines shutdown the browser process: https://github.com/testem/testem/blob/master/lib/runners/browser_test_runner.js#L145-L149
As a demonstration you can remove `this.finish()` and your coverage sending should finish with the test server process never finishing :)
A simple approach would be to call `this.finish` after a callback as supplied by the conf

[2016-03-07 18:37] jreading commented on #360
I'm working through an "afterTests" queue that handles async callbacks. PR later today and of course open for comments.

[2016-03-09 06:36] #360 closed

[2016-03-09 10:04] gavruk commented on #812
It still doesn't work well.
* Shows 0 tests
* Press Enter to re-run - 4 tests
* Update test - shows 8 tests instead of 4
![testem](https://cloud.githubusercontent.com/assets/507195/13631737/d4a0034c-e618-11e5-8172-0773df7b2af6.gif)

[2016-03-09 10:14] johanneswuerbach commented on #812
Which version of testem are you running?

[2016-03-09 11:09] gavruk commented on #812
@johanneswuerbach master branch

[2016-03-09 11:58] johanneswuerbach commented on #812
Maybe I didnt had the correct setup, mind creating a repo with your setup?

[2016-03-09 14:54] gavruk commented on #812
@johanneswuerbach https://github.com/gavruk/testem_sample

[2016-03-09 18:15] et commented on #654
Sorry to revive a dead thread, but did anyone find a solution for this?
I tried to integrate with sauce labs and Bamboo and noticed that the tests failing to start. Then I started a manual test into the tunnel and visited http://localhost:7357 and they started running.

[2016-03-12 07:01] #732 closed

[2016-03-12 07:01] trentmwillis opened #830 ""-1" Broken for Parallel Option"
It seems like with `1.5.0` the option to use "-1" for `parallel` has been broken. It doesn't run any browsers for me. Thought it might be my local project but tested on master and am seeing the same behavior. Will try to investigate more tomorrow if I have time.

[2016-03-12 19:14] trentmwillis commented on #830
This turned out to be a user error. I was using `"-1"` instead of `-1`, so when it checks the value ([here](https://github.com/testem/testem/blob/master/lib/app.js#L351)), it evaluates it as not equaling `-1`.

This behavior works properly for other strings (e.g., `"2"`), since they are obviously not equal to `-1`. Would it be okay to improve this check to catch the string case as well? Otherwise

[2016-03-12 19:29] johanneswuerbach commented on #830
No definitely open to match the string too. Seems like a trivial, but annoying mistake.

[2016-03-12 19:38] trentmwillis commented on #830
Sounds good, will have a PR ready soon.

[2016-03-13 10:11] Vanuan opened #833 "Automatic parallelization"
We should be able to reuse the same page for automatic tests.

I can imagine a function which injects several script tags according to the url parameter given. E.g. `?testem_batches=10&testem_batch=1`.

E.g. `testem.html`:

    testem.inject([
        // a list of all files to parallelize
        'test1.js',
        'test2.js',
        'test3.js',
    ]).then(function() {
        mocha.run();

[2016-03-13 10:13] #830 closed

[2016-03-13 10:16] Vanuan commented on #833
If no batch parameter given, an error occurs:

[code]

[2016-03-13 10:19] Vanuan commented on #812
May it be related to https://github.com/airportyh/fireworm/pull/10

[2016-03-13 10:30] Vanuan commented on #785
What I usually do in cases when dependency author ain't responding is forking a dependency and releasing a custom version.

[2016-03-15 21:43] thomasmarshall commented on #654
I managed to track this down to an older version of `node-which` that seems to mistakenly match any path starting with `/`.

`testem` looks in two possible locations for Chrome, and if `which` finds the first one, then `testem` uses that. In my case the faulty version of `node-which` responds that `/Users/tom/Applications/Google Chrome.app/Contents/MacOS/Google Chrome` exists, even though it doesn

[2016-03-16 17:59] fotinakis commented on #777
We can reliably reproduce this issue (both on CI and locally) by running a large test suite that ends up causing Chrome OOM issues. If Chrome's memory pressure manager decides to kill the tab (the standard `Aw Snap!` message if running normally), it will manifest as: `Browser "google-chrome ..." disconnected unexpectedly.`.

[2016-03-18 13:39] chrisgame opened #834 "Uncaught errors are not clearly shown against the test that caused them"
When an error like the one blow occurs
![image](https://cloud.githubusercontent.com/assets/766429/13879150/bbbd7ff2-ed0d-11e5-8f91-0b7d29685e72.png)
In CI mode it is reported with no test name but the detail of the uncaught error.
![image](https://cloud.githubusercontent.com/assets/766429/13879160/d4e476ca-ed0d-11e5-9842-5b457654775b.png)
![image](https://cloud.githubusercontent.com/assets/766429/

[2016-03-21 13:44] bcardarella opened #835 "Running one browser at a time (parallel 0)"
I'd like to force the browsers to wait for one to finish before another start, no concurrent browsers running.

Use case: We like to avoid mocking/stubbing in our client app test suites. We'll run an actual test server to prove out full integration between front end and back end. This however presents a problem when the client is expecting the server to be in a particular data state per test. We'l

[2016-03-21 13:47] johanneswuerbach commented on #835
Parallel `1` should do run parallel browser at any given time.

[2016-03-21 13:50] bcardarella commented on #835
@johanneswuerbach I tried `1` (which I believe is the default) but I'm seeing Chrome start up before Phantom has finished

[2016-03-21 13:51] johanneswuerbach commented on #835
Are you running in `dev` or `ci` mode?

[2016-03-21 13:52] bcardarella commented on #835
I am not certain, I am running through ember-cli. I can look into what mode that runs

[2016-03-21 13:55] bcardarella commented on #835
I believe that ember-cli is using the CI move: https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/test.js#L17

[2016-03-21 23:24] humanchimp opened #836 "Logging a function inside phantomjs results in the socket.io shim function being logged."
I wanted to open an issue about this because it cost me quite a bit of time debugging this today, and when I finally managed to track down the root cause, I wasn't sure what a good PR might look like to fix this issue.

## the problem

When running testem inside phantomjs, if you pass a function to `console.log`, you'll see the output of the shim function in the console, rather than the function t

[2016-03-22 15:23] Vanuan opened #837 "Max depth. is written on test failure ("not ok")"
I'm debugging an issue with "not ok" behavior.
I'm using `testem ci -l chrome -R tap`.
In `testem/lib/runners/browser_test_runner.js` (`onTestResult`). I've encountered this message:
{"passed":"Max depth.","message":"Max depth.","stack":"Max depth."}

Do you have any insight who writes "Max depth." and why?
With it, I can't see test failure output.

[2016-03-22 15:28] bantic commented on #837
@Vanuan This is from the [decycling code](https://github.com/testem/testem/blob/4dd317a7f1dec9a5cfea24c8ca672813462fa090/public/testem/decycle.js#L51) that is used to serialize an object before it is `postMessage`'d to the iframe that Testem manages on the test page.

This is most likely to come from a `console.log` statement in your tests that is logging a deeply-nested/complicated object. Is tha

[2016-03-22 15:29] Vanuan commented on #837
Well, does it mean that mocha outputs a deeply nested object on failure?

[2016-03-22 15:31] Vanuan commented on #837
But in browser, I can see failure messages just fine.

[2016-03-22 15:32] bantic commented on #837
@Vanuan Can you shed some more light on what the test looks like and what the failure looks like? If you have a minimal working sample that would help to debug.

[2016-03-22 15:35] Vanuan commented on #837
[code]

Mocha & expect:
[code]

[2016-03-22 16:11] bantic commented on #837
@Vanuan Can you replicate the issue using the [simple mocha example](https://github.com/testem/testem/tree/master/examples/mocha_simple)? I force-installed mocha@1.8.2 and expect.js@0.2.0 and it appears to still display the test failure properly:

![image](https://cloud.githubusercontent.com/assets/2023/13958626/2aaaa0fe-f027-11e5-9b69-e2612603f042.png)

Do you get the same results with newer moch

[2016-03-22 16:17] Vanuan commented on #837
Debugging deeper, here's decycle function argument:

[code]

[2016-03-22 16:18] Vanuan commented on #837
maxDepth is 4, so it's clearly can't reach `stack` and `message`.

[2016-03-22 16:21] bantic commented on #837
@Vanuan Can you make sure you're on latest testem? Maxdepth changed from 4 to 5 in #813 which was released in [v1.4.2](https://github.com/testem/testem/releases/tag/v1.4.2).

[2016-03-22 16:26] Vanuan commented on #837
Yeah, this is it! I was using 1.4.0

[2016-03-22 16:26] #837 closed

[2016-03-23 18:37] jreading opened #839 "Please publish"
Really looking to fix our coverage reporting that was recently fixed. Any timetable?

[2016-03-23 18:39] johanneswuerbach commented on #839
I'll do a release later today / tomorrow.

[2016-03-23 21:03] johanneswuerbach commented on #839
https://github.com/testem/testem/releases/tag/v1.6.0 :-)

[2016-03-23 21:03] #839 closed

[2016-03-25 17:09] Vanuan opened #842 "Choose any free port automatically"
It would be great if there was a mode in which testem would choose any free port from a specific range.

Use case is testem in ci mode. It's incomplete without an ability to run multiple builds simultaneously on one machine.

[2016-03-25 19:43] Vanuan commented on #842
Or at least create a dedicated return code for "listen EADDRINUSE" error.

[2016-03-25 19:45] Vanuan commented on #805
Related to #842

[2016-03-29 04:00] christiansakai opened #844 "Use testem to watch with testem.js"
I am running by this example https://github.com/testem/testem/tree/master/examples/coverage_istanbul to integrate testem with istanbul.  It works fine.

However now I also want to do the standard testem while watching the source file.  How do I do that?

Currently this `npm run test-server` below doesn't work
[code]

So `npm run test` works just fine but `npm run test-server` does not work and giv

[2016-03-30 09:23] dzonatan opened #845 "testem with phantomjs-prebuilt does not work"
Tried to use the new `phantomjs-prebuilt` locally installed package and got an error:
`Launcher PhantomJS not found. Not installed?`

With deprecated `phantomjs` everything works.

testem@1.6.0
phantomjs-prebuild@2.1.7

[2016-04-04 17:58] vedharish opened #846 "'File not found' when testing on IE8/9 on BrowserStack"
I am trying to set-up a sample ember-app for testing. I did get it working, it runs on latest firefox, chrome browsers flawlessly.

While testing on IE8 and IE9, I think I get a routing issue. IE 10 and IE 11 work fine. I couldn't figure out how to get the `testem server` logs. So, I just wrote the logs to a file by using `npmlog-file`. (lib/server/index.js uses npmlog for output. I just used that

[2016-04-04 18:00] vedharish commented on #846
Without the logs, it shows `testem.js not loaded?` error on the ci as mentioned in browserstack/browserstack-testem-integration#6

[2016-04-06 17:12] the-t-in-rtf opened #847 "Errors loading testem.js with Safari 9.0.3..."
I see intermittent browser errors loading the testem scripts themselves, but only in Safari:

[code]

It appears to be a JSON parsing error:

[code]

This happens intermittently, sometimes all tests pass, and the tests that report browser errors vary from run to run.

[2016-04-07 19:38] bantic commented on #847
@the-t-in-rtf Any more details that you can share about the structure/content of your tests? That error indicates that `message` is already an object (rather than a string of JSON), but I'm not sure why that would be the case.

[2016-04-13 11:50] screendriver opened #850 "nativeParseInt is not a function"
My code to test uses some [lodash](https://lodash.com) functions like [_.parseInt()](https://lodash.com/docs#parseInt). In Test'em they throw following error

[code]

When I **don't** use Test'em (e.g. a mocha HTML page hostet with [broswer-sync](https://www.browsersync.io/)) the error disappears.

Does somebody has any idea what's going on here?

[2016-04-14 12:34] mrsum opened #853 "webpack and webpack-dev-server support"
Hello there.
This issue is only **idea**.

I've prepare testem with webpack and webpack-dev-server via middleware.
Code is available here https://github.com/rambler-digital-solutions/rambler-webpack-boilerplate

If you accept this method, i can add info to testem readme.

Best regards.
ps. thnx for very good package.

[2016-04-15 02:47] miparnisari commented on #217
I can reproduce this bug in Windows 10 and Node 4.4.2. Demo repo here: https://github.com/miparnisari/myangular

![testem error](https://cloud.githubusercontent.com/assets/5374887/14549985/407d86f4-029b-11e6-99a8-31dae398062a.png)

[2016-04-16 07:11] #845 closed

[2016-04-18 14:32] vedharish commented on #846
Any update on this?

I went ahead and tested this on a local virtualbox vm (win7/ie8). Got a similar error.

[code]

[2016-04-19 02:13] alexindigo commented on #853
@mrsum I'm suddenly interested in the similar thing. How would you like to proceed?

[2016-04-19 07:49] DerivcoHK commented on #821
It is because the "getConfigProperty" function of "Config" will return the progOptions first rather than that of fileOptions.

[code]

So when we unset the default option in https://github.com/testem/testem/blob/master/testem.js#L36, it works.

[2016-04-19 12:59] mrsum commented on #853
@alexindigo i've thinking about some adapter with logic and testem config should contains section with adapter name line. for example:

_testem.json_
[code]

_./adapters/webpack_
[code]

if current section has exists, testem should know about it

[2016-04-19 13:03] johanneswuerbach commented on #821
Fixed by https://github.com/testem/testem/pull/860

[2016-04-19 13:03] #821 closed

[2016-04-19 16:13] alexindigo commented on #853
Trying to understand where it hooks into testem itself.

And I agree that allowing new things via config is the way to go,
although I think `adapter` would be confused with framework adapters (I have) :)

Maybe something like `server: './servers/webpack'`would fit better, allowing for different kinds of custom servers. Or just straightforward `middlewares: ['./middlewares/webpack', './middlewares/

[2016-04-19 16:19] mrsum commented on #853
@alexindigo yes, middleware is very informative!

[2016-04-21 22:06] wagenet opened #861 "Add `--disable-save-password-bubble` for Chrome"
This should disable password save prompts in Chrome. According to http://peter.sh/experiments/chromium-command-line-switches/ it only works on Macs. If this sounds good, I can PR.

[2016-04-21 22:07] johanneswuerbach commented on #861
Sounds good to me!

[2016-04-26 21:05] tjni opened #863 "Passing Metadata from Test to Reporter"
I would like to collect some information from my running tests and surface them to my custom reporter. What I'm looking for is something similar to logs, except something that allows objects through, possibly with a category or type (as a string) to allow more structured filtering.

The flow I am thinking of is: adapter emits a new type of event, test runner collects it and passes it along to the

[2016-04-28 18:00] swashcap opened #864 "Safari Unexpectedly Exits"
Testem reports that Safari unexpectedly exits when run in CI mode. Here’s an example message:

[code]

The tests otherwise pass fine when run manually in Safari. My versions:

* OS: **OS X 10.11.4**
* Safari: **9.1**
* Node: **6.0.0**

Any thoughts? Really loving testem, by the way. Makes browser testing so easy!

[2016-04-28 18:06] swashcap commented on #864
Looking through tester’s debug log. Nothing exceptional showing up:

[code]

Is there something I can look for?

[2016-05-02 05:29] benoror commented on #229
+10

[2016-05-06 08:00] ayman-alkom commented on #357
http://stackoverflow.com/a/34565762/2580499

[2016-05-06 14:48] paulqlove commented on #864
I'm seeing the same issue in PhantomJs and Chrome. Did you find a fix for this?

[2016-05-06 16:16] swashcap commented on #864
@paulqlove Nope, unfortunately not. It seems to only 50% of test runs on my machine. ¯\\\_(ツ)_/¯

[2016-05-06 16:28] johanneswuerbach commented on #863
Sounds like an interesting idea, PR welcome!

[2016-05-06 16:30] johanneswuerbach commented on #850
Do you do any transpiling usually before running your tests? Looks like testem is shipping the raw sources.

[2016-05-06 16:46] johanneswuerbach commented on #836
Might be worth re-using something like https://github.com/substack/object-inspect, otherwise I like the idea.

[2016-05-06 16:49] johanneswuerbach commented on #842
You can already select `port: 0` in your testem config to use a random port. https://github.com/testem/testem/blob/master/tests/ci/ci_tests.js#L46

[2016-05-06 16:52] johanneswuerbach commented on #846
Without a small test repo to reproduce this bug I can't really help here.

[2016-05-06 16:53] johanneswuerbach commented on #853
Definitely looks interesting, PRs are always very welcome :-)

[2016-05-06 23:43] Vanuan commented on #842
Ok, thanks.

[2016-05-06 23:43] #842 closed

[2016-05-07 02:37] gavruk commented on #812
Any updates?

[2016-05-07 04:20] Vanuan commented on #812
It might we worth to fork https://github.com/airportyh/fireworm/

[2016-05-09 05:40] vedharish commented on #846
@johanneswuerbach Please have a look [here](https://github.com/vedharish/ember-tests)

[2016-05-09 11:53] screendriver commented on #850
Yes. I am using [jspm](http://jspm.io), [SystemJS](https://github.com/systemjs/systemjs) and ES2015 with the [Babel](https://babeljs.io) transpiler.

[2016-05-09 18:03] davidhao3300 opened #867 "Tests nondeterministically stop running"
We've had instances where tests just stop running in the middle since 2 months ago. Unsure if this is a Testem bug (still investigating), but wanted to post this here in case others have experienced the issue.

I found that it happens more often in our Jenkins CI tests than when running CI tests locally, but we've managed to see it once locally (didn't manage to get any useful info at the time sin

[2016-05-09 18:37] davidhao3300 commented on #867
Some more details: We're running QUnit tests on Chrome 50.0.2661.94 on Linux. Testem version is 1.6.0

[2016-05-09 23:01] davidhao3300 commented on #867
I think we figured out that our code is causing the problem

[2016-05-09 23:01] #867 closed

[2016-05-10 19:47] adamyonk commented on #864
I'm seeing something similar with Phantom. Fires up, _sometimes_ runs the first run of the tests, then the testem process just exits with no output and this is in the logs:
[code]

[2016-05-10 21:28] johanneswuerbach commented on #864
Testem v1.7.0 logs now stdout and stderr when present, could you verify whether something is logged?

[2016-05-11 04:35] adamyonk commented on #864
My issue ended up being an issue with webpack that was causing it to crash, disregard.

[2016-05-11 04:46] eddiesholl opened #868 "Ember tests not connecting with v1.7.0 of testem in place"
The ember-cli package has a dependency on testem ^1.3.0. My CI build starting failing to run 'ember test ci' today, and it seems to be because of a fresh npm install which dragged in 1.7.0 instead of 1.6.0. The error message coming out is like:

phantomjs <...>/node_modules/ember-cli/node_modules/testem/assets/phantom.js http://localhost:36360/9518/tests/index.html?hidepassed" failed to connect. t

[2016-05-11 05:50] swashcap commented on #864
@johanneswuerbach Ah, cool! Here’s the output from a bad run:

[code]

[2016-05-11 05:53] johanneswuerbach commented on #868
What version of phantomjs are you running? Which Node and OS versions are you using?

[2016-05-11 06:16] swashcap commented on #864
Yikes. So, after a little Googlin’ around this looks more like an OS X issue. `accountsd` [appears to be](http://apple.stackexchange.com/questions/80200/what-is-accountsd-and-why-does-it-want-to-use-the-login-keychain#comment92572_80200) an OS X accounts/Keychain tool. [This thread](https://discussions.apple.com/thread/7131588?start=0&tstart=0) has similar error output: perhaps my home directory’s

[2016-05-11 06:27] eddiesholl commented on #868
Sorry should have included that:

PhantomJS: 2.1.7 (not phantom-prebuilt)
npm: 3.3.12
node: 5.5.0
ember-cli: 2.4.1
OS: Ubuntu 15.10

[2016-05-11 07:09] johanneswuerbach commented on #868
Could you share the path phantomjs is installed in?

[2016-05-11 08:30] eddiesholl commented on #868
The full path to phantom.js is /var/lib/jenkins/workspace/refresh develop build/node_modules/ember-cli/node_modules/testem/assets/phantom.js, its part of a jenkins job.

Interestingly, phantomjs is not actually on the path for the build user, I assume 'ember test' does some tricks to locate it. There's a phantomjs binary at ./node_modules/.bin/phantomjs and ./node_modules/phantomjs/bin/phantomjs

[2016-05-11 08:34] johanneswuerbach commented on #868
Sounds like this https://github.com/testem/testem/pull/857 broke it, testem is no longer manually looking into your modules but instead prepending `./node_modules/.bin` to the`PATH` and then just executing the binary. Could you check what `./node_modules/.bin/phantomjs -v` prints?

[2016-05-12 06:20] eddiesholl commented on #868
An npm install -g of either phantomjs or phantomjs-prebuilt fixes things. It seems just getting it on the path is the solution.

That diff you linked has this for linux:
-        supported: findableByWhichOrModule
+        supported: findableByWhich

Might be nice if something was printed out if the 'which' strategy is going to fail, but apart from that its a configuration issue at my end.

[2016-05-12 17:28] tuhintshukla commented on #868
I am running into similar issue in my environment:-

ember-cli: 2.5.0
node: 4.2.1
os: linux x64
testem --version
1.7.0
phantomjs -v
2.1.1

I have phantomjs and phantomjs-prebuilt installed globally and I am running the tests on CI server which is a centos 6.7 using:-
ember test ci --server /ember test ci --server

Any resolutions/workarounds ?

[2016-05-13 16:41] johanneswuerbach commented on #868
Could you share the output of `which phantomjs`?

[2016-05-13 17:21] tuhintshukla commented on #868
[satest@:~]$ which phantomjs
/usr/bin/phantomjs
[satest@:~]$

[2016-05-13 18:42] #868 closed

[2016-05-14 18:44] tuhintshukla commented on #868
@johanneswuerbach Thanks a lot for the fix, but looks like I am still having the issue in my environment. Not sure whats going on, When I use DEBUG=* I can see the thread just hangs . Should I file it as a separate issue ?

[2016-05-14 20:30] johanneswuerbach commented on #868
Yes, please :+1:

[2016-05-18 15:31] tuhintshukla opened #873 "Ember tests not running on Cento6 in ci mode"
I am running into this issue in my environment:-
When running ember tests in the ci mode, the call never returns and hangs. I can confirm this by looking at the following log:-
When I run DEBUG=* ember test ci I can see that the thread is stuck at this point:

  express:router:layer new /^\/(?:[0-9]+)(\/.+)$/ +0ms
  express:router:route get /^\/(?:[0-9]+)(\/.+)$/ +1ms
  express:router:layer new /

[2016-05-19 07:50] Cmdv opened #875 "Testing for document.readyState"
Hi I'm trying to test that `readyState` is being waited for in a function I have.

This is my helper function that delays adding all elements to the DOM
[code]

Then I'm just doing a notStrictEqual against `readyState, "complete"`

Is there a way of doing this as the readyState always seems to be complete?

[2016-05-19 08:06] johanneswuerbach commented on #875
Usually that depends on the test framework as most of them only run your tests after the document readyState is complete

[2016-05-19 08:55] Cmdv commented on #875
ah ok so I best look into the Mocha docs, thank you feel free to close 😄

[2016-05-19 09:02] #875 closed

[2016-05-19 10:53] williamsbdev opened #876 "PhantomJS viewportSize customization"
I just recently upgraded PhantomJS from 1.9.8 to 2.1.1 and noticed that several tests were failing in a work project because the viewportSize changed from 400x300 to 1024x768. I much prefer the more reasonable window size with the upgrade, however we had several tests that were relying on the smaller size for our media queries (wrong of us to do without being able to specify window size).

I've se

[2016-05-20 08:58] elfet commented on #765
Well be cool to have it.

[2016-05-21 19:13] johanneswuerbach commented on #876
I agree with @airportyh and instead of additional PhantomJS specific options, I would prefer a way to provide custom args for included lunchers. The config for your issue might look like:

[code]

Sadly I didn't had time to spike an implementation yet, but if you beat me on that I would be very welcome.

[2016-05-27 16:04] nruth opened #880 "Chrome not launching on Mac with 1.7.3, works with 1.7.1"
Hi

Using testem through ember-cli 2.5.0, `ember test --serve` only runs phantomjs. Firefox and Chrome fail to launch or are skipped somehow.

I'm on Mac OS 10.11.5.

My testem file looks like this:

[code]

No errors, it just ignores the launchers. I've tried removing "ignore_missing_launches" but the same thing happens.

![screen shot 2016-05-27 at 17 28 49](https://cloud.githubusercontent.com/a

[2016-05-27 18:04] johanneswuerbach commented on #880
Thanks for the detailed report, fixed will be release once CI is green: https://github.com/testem/testem/pull/881.

[2016-05-27 18:08] nruth commented on #880
Great :) Thanks for the super-quick fix.

[2016-05-27 18:19] #880 closed

[2016-05-27 18:20] johanneswuerbach commented on #880
Released as `v1.7.4`

[2016-06-01 10:12] johanneswuerbach commented on #873
Could you try starting `ember test --serve` and check, whether firefox starts properly?

[2016-06-01 10:14] johanneswuerbach commented on #835
Could you share your testem config?

[2016-06-01 22:46] stefanpenner opened #886 "1.8 issues"
As for 1.8 I get :

[code]

https://github.com/testem/testem/compare/v1.7.4...v1.8.0

still debugging.

[2016-06-01 23:01] stefanpenner commented on #886
looks to be  9e4e14e006e3ab7d1ed1b23f48fa5107402652c3

[2016-06-01 23:18] johanneswuerbach commented on #886
Could you share your testem config? 127 looks like phantomjs isn't able to find the launch script.

[2016-06-01 23:26] stefanpenner commented on #886
[code]

[2016-06-01 23:38] johanneswuerbach commented on #886
Could you share the debug output of testem? You can get it by adding `debug: true,` here https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/test.js#L49 and then looking for a `testem.log` in your project directory.

[2016-06-03 06:44] johanneswuerbach commented on #886
Ping, still can't reproduce this. @chadhietala you saw it on travis?

[2016-06-03 07:13] johanneswuerbach commented on #886
Ah looks like https://travis-ci.org/tildeio/glimmer/builds/134823530 had the same issue and the glimmer testem yml us doing some phantom PATH dancing, will investigate.

[2016-06-03 08:51] johanneswuerbach commented on #886
@stefanpenner what version of phantomjs are you using? also 2.0?

[2016-06-03 12:04] #886 closed

[2016-06-03 12:05] johanneswuerbach commented on #886
Fix published in `v1.8.1`

[2016-06-04 19:19] cbuteau commented on #229
So I tried the home grown istanbul example project which currently does not work out of the box.  But it was a good starting point.

I figured out the actual commandline for the istanbul instrumentation luckliy my project is a single file.

[code]

But when I tried to run testem in dev mode it would not work because it was launching the customized coverage testem.js config file.

I brought it up i

[2016-06-06 02:30] Mouvedia commented on #557
@johanneswuerbach sup with your prototype?

[2016-06-08 11:19] patocallaghan opened #890 "Tests hanging on Codeship"
I'm sorry for creating a vague issue but was just wondering if you have an feedback on this.

We're using Testem through Ember CLI but have found that none of our test runs pass in Codeship. That is, we split our tests and run them over multiple different pipelines in Codeship but that at least one of the test runs time out consistently. The tests run and get to the end but Codeship doesn't seem t

[2016-06-12 07:24] #863 closed

[2016-06-14 19:03] Vanuan commented on #785
Another instance of that bug: `before_tests` command  it is triggered twice for one modification.

[2016-06-15 15:38] hadida opened #894 "Istanbul + Mocha + Coverage report"
Hi All,

 I have got problem to generate coverage report using Istanbul + Mocha + Coverage report. My simple solution based on native examlpes mocha_lazy and coverage_istanbul. Unfortunately I always got coverage*.json empty. I debug and found that variable `window.__coverage__` is undefined.
Example coverage_istanbul work marvelous.

Could you advice ?

[2016-06-20 19:00] rwjblue opened #900 "Specifying `report_file` option is not working in 1.9.0"
I suspect https://github.com/testem/testem/commit/b97b9c290f31608256bedbe0d67fb5b328ae6b2b is to blame, but I am not certain (haven't bisected).

The config I am using is:

[code]

[2016-06-20 19:00] rwjblue commented on #900
There is also a failure in ember-cli's test suite, but I am unsure if it is the same issue (I don't recall ember-cli using `report_file` directly).

[2016-06-20 19:23] NicolasPelletier opened #902 "Version 1.9.0 regression"
Testem crash when I run it in ```dev``` mode. Here is my testem.js:
[code]

Here is the log I get when running with ```./node_modules/.bin/testem --debug```:
[code]

The ```./node_modules/.bin/testem --debug``` command exits with code ```1```.

This works as expected with 1.8.1. Here is the debug output in 1.8.1:
[code]

It runs the test suite multiple times, but that's the only odd thing. The ter

[2016-06-20 20:26] alexgraul commented on #900
We're seeing the same issue - an empty report_file being created.

[2016-06-20 20:40] montogeek commented on #835
I am running it with `testem ci -P 1` it waits for the browser to close to start with the next one

[2016-06-20 22:05] felippenardi opened #903 "Fix error log on the top"
I keep a small window open running Testem and everytime a test fails I have to switch to that screen and scroll all the way up to see what happened.

Is there a way to keep the console messages on the top instead of having it scrolling?

Example of what it looks like currently:
![testem](https://cloud.githubusercontent.com/assets/1354492/16211762/f841036c-3719-11e6-928a-0d894f3fe91f.gif)

[2016-06-20 22:31] johanneswuerbach commented on #900
Sorry, I rolled `v1.9.0` back and re-published `v1.8.1` as `v1.9.1`. Feel free to upgrade until this has been resolved.

[2016-06-20 22:31] johanneswuerbach commented on #902
Sorry, I rolled `v1.9.0` back and re-published `v1.8.1` as `v1.9.1`. Feel free to upgrade until this has been resolved.

[2016-06-20 22:33] NicolasPelletier commented on #902
This fixed it for me. Thanks.

[2016-06-20 22:34] NicolasPelletier commented on #902
@johanneswuerbach : By the way, great response speed.

[2016-06-20 23:18] nruth commented on #552
It'd be great if this had an example showing how to override or implement an alternative browser launcher with specific flags passed in (e.g. window resolution), as it doesn't look like there's a way to do that with the current browser launcher abstraction.

[2016-06-20 23:44] adhamhf commented on #900
@johanneswuerbach can you verify that's published?

`npm install testem@1.9.1 `

is failing:

`No compatible version found: testem@1.9.1`

[2016-06-21 06:51] johanneswuerbach commented on #902
Thanks, I'll keep this open until the issue is actually fixed.

[2016-06-21 06:55] johanneswuerbach commented on #900
Yes and https://www.npmjs.com/package/testem agrees. Do you use a registry mirror or cache? Sometimes those are slower.

[2016-06-21 15:12] hemp commented on #900
My workaround yesterday was to pin testem to 1.8.1 and I dug back into why this morning and saw this issue was filed.

Thanks for 1.9.1.  It is working for our ember-cli based builds and the report file has data.

[2016-06-21 21:16] toranb opened #904 "[Question]: anyone reporting bluebird issues after the version bump to 0.7.0?"
First up -thanks for all your time maintaining this project! I am in your debt from the start as an ember-cli user :) so thank you!!!

I realized recently that on change I get an error referencing bluebird in the stack as of testem 1.9.0

https://github.com/testem/testem/commit/bd03b4af8db9f91585566364fd41623275831025

I found the commit above did a version bump and I'm curious if anyone else is h

[2016-06-21 21:39] johanneswuerbach commented on #904
1.9.0 introduced a serious and unfixed issue, please upgrade to 1.9.1 until the issue has been fixed. 1.9.1 is just a republished 1.8.1, but should prevent anyone ending up with a broken install until the issue has been resolved.

[2016-06-21 22:30] toranb commented on #904
@johanneswuerbach ah I'll give that a try tomorrow :) thanks!

[2016-06-23 14:38] amk221 opened #906 "Example custom reporter not working"
I'm trying to use the _example custom reporter_ with an ember app.
It runs fine, but then afterwards outputs an error about `getExitCode`

steps to recreate:
1. `ember new example`
2. `ember generate component x-foo`
3. make test fail
4. _add testem's example [custom test reporter](https://github.com/testem/testem/blob/master/docs/custom_reporter.md)_
5. `ember test`

[code]

[2016-06-23 14:40] johanneswuerbach commented on #906
Looks like you are using the broken testem `v1.9.0` release, could you check whether `v1.9.1` fixes your issue?

[2016-06-23 14:44] amk221 commented on #906
ah. Still happens I'm afraid

[2016-06-23 21:43] webark commented on #906
ya.. same thing here.

[code]

[2016-06-23 22:47] webark commented on #906
looks like for me I tracked this down to something in ember-cli ... It looks like testem raises an `new Error` https://github.com/testem/testem/blob/master/lib/app.js#L397 and that error has a `.stack` property, then get's caught by
[code]
and since `new Error` has a `.stack` property.. it dumps that out there.

[2016-06-23 23:06] webark commented on #906
I guess you could do something like..
[code]
cause will you ever want a stack trace for just the fact that all tests aren't passing?

[2016-06-24 23:16] tjni commented on #900
Hi Johannes, do you need any help on this issue? I have a vested interest in seeing 1.9.0 out, so I'm happy to spend some time this weekend working on this.

[2016-06-25 06:21] johanneswuerbach commented on #900
Sure, I haven't really had time to investigate what exactly is broken on master for this and the ember cli test suite.

For the suite is seems just to be an issue with changed output, but I need to dig deeper.

[2016-06-26 06:56] #900 closed

[2016-06-26 17:41] tjni commented on #902
I likely won't have the time today to work on this, but I did a little bit of digging. I think the issue is that stopping the current test run doesn't wait for the promise returned by `cleanUpProcessLaunchers()` to resolve.

[2016-06-28 14:02] psdao1102 commented on #894
You havent instrumented your code. Unfortunatly instrumenting methods can very wildly so youll just have to do some googling.

[2016-06-29 17:12] Vanuan commented on #783
Would be great to output command results to console.log

[2016-07-01 17:55] #902 closed

[2016-07-04 17:29] EWhite613 opened #915 "PhantomJS/SlimerJS custom launcher never closes on Linux"
It justs sits in limbo for ever. If I run a callback that closes phantomjs on `Testem.afterTests` I get `"phantomjs custom-launcher <url>" exited unexpectedly with exit code <int>`

Custom Launcher:

[code]

[2016-07-04 18:01] johanneswuerbach commented on #915
Not in front of a computer atm, but looks like you are never calling the afterTests callback, may that be the issue?

[2016-07-04 18:07] EWhite613 commented on #915
@johanneswuerbach I'm hitting it. Only way to hit `phantom.exit(1)` is from that callback. But I fail my tests because I get the error `"phantomjs custom-launcher <url>" exited unexpectedly with exit code <int>`

[2016-07-04 18:27] EWhite613 commented on #915
Testem.js:
[code]

Maybe my `Testem.js` has the issue? None that I can see though.

[2016-07-05 16:08] amk221 commented on #906
Just wondering if I could get an official update on this one? Thank you!

[2016-07-06 20:35] EWhite613 commented on #915
@johanneswuerbach
There has to be something I'm missing on writing a custom launcher.

If I simplify a launcher to just : https://github.com/testem/testem/blob/master/assets/phantom.js

and use the launcher as:
[code]

[2016-07-07 12:51] Vanuan commented on #785
I've published a forked, fixed version to https://www.npmjs.com/package/vanuan-fireworm

[2016-07-07 14:38] EWhite613 commented on #915
'Fixed' by doing:
[code]

`callback(null)` by itself yields no results on Linux. Just get:

[code]

 But doing `callback(nulll)` then exiting phantomjs after 2 secs works (1 second is to early and results in `exited unexpectedly with exit code `). Closing phantomjs results in receiving the `"42["all-test-results",...` packet, but somehow the prev `callback(null)` prevents the failed test `"phantom

[2016-07-08 02:34] raytiley opened #920 "Using split and parallel on Appveyor breaks Firefox"
Still trying to work through what might be going on here but wanted to through this out there to see if anyone had ideas:

Browser "C:\Program Files (x86)\Mozilla Firefox\firefox.exe -profile C:\Users\appveyor\AppData\Local\Temp\1\testem-341 http://localhost:7357/341/tests/index.html?hidepassed=&_split=2&_partition=1" exited unexpectedly with exit code 1.

Only seems to happen if I use split / par

[2016-07-08 10:20] Vanuan opened #921 "Skip clear console"
Is it possible to skip clear console in the watch mode?

[2016-07-08 13:24] raytiley commented on #920
![image](https://cloud.githubusercontent.com/assets/41680/16688783/b57c1b34-44ed-11e6-9898-accd3d2f916d.png)

[2016-07-08 15:14] EWhite613 commented on #915
With a custom launcher (only tried phantomjs, SlimerJS ) the proccess doesn't actually get killed in https://github.com/testem/testem/blob/371cd22890f5c79a1ce0ed6f4da51d63bd636dff/lib/runners/browser_test_runner.js#L242-L259

[2016-07-12 21:41] johanneswuerbach commented on #900
Release the first 1.10 rc. Would really appreciate if somebody could test it in their apps.

[2016-07-14 15:09] adamyonk opened #923 "Testem process exits (times out?) after 10s with code 1, no error"
It seems to happen when my webpack process takes longer than 10s to build, I have this in my config:
[code]
The build:test:watch script basically does `webpack --define process.env.NODE_ENV='\"test\"' tests/index.js tests/bundle.js --watch`

Is there some timeout in testem that will kill the process if it doesn't see the `wait_for_text` after 10s?

[2016-07-14 16:16] vogdb commented on #808
Is there a way to achieve this now? I need to launch Chrome with flags `--use-fake-device-for-media-stream --use-fake-ui-for-media-stream` in order to test WebRTC.

[2016-07-15 09:22] vogdb commented on #808
@trentmwillis can you please give me a bit more details on how to implement it. I may give it a try. This feature seems very attractive to me. It will solve my problems.

[2016-07-15 19:38] vine77 commented on #808
Perhaps we could add a `chrome_args` config option, like the [`phantomjs_args`](https://github.com/testem/testem/blob/v1.9.1/lib/utils/known-browsers.js#L145) option @ef4 added in #560.

@vogdb, in the meantime, maybe you could try to:
- Specify a new custom Chrome launcher in testem.json ([example](https://github.com/testem/testem/blob/v1.9.1/examples/saucelabs/testem.json#L13)); or
- Add Chrome

[2016-07-16 08:07] vogdb commented on #808
Ok, thanks! If find time, I would definitely try. For now I'm using karma. Need to deliver my work in time :-\

[2016-07-18 15:37] stefanpenner opened #924 "various timers appear to not be cleaned up"
For example, it seems like: https://github.com/testem/testem/blob/master/lib/runners/browser_test_runner.js#L204

In some scenarios does not get cleaned up, which results in (when invoking testem in-proccess) artificial delays of up to 10s before the process exits.

using `wtfnode` resulted in:

[code]

Anyways, I'll dig in further. Figured I would open an issue to log my findings and related prog

[2016-07-18 15:52] stefanpenner commented on #924
^^ PR that should address the issue, would <3 some 👀  on it.

[2016-07-18 16:08] adamyonk commented on #923
Could this be a bluebird promise timing out?

[2016-07-18 16:09] johanneswuerbach commented on #923
Sorry, I didn't had time investigating, what testem, node, OS versions are you using?

[2016-07-18 16:12] adamyonk commented on #923
node v6.2.0, macOS 10.12 (also happened on 10.11), testem 1.10.0-0

[2016-07-18 21:32] #924 closed

[2016-07-18 21:33] stefanpenner commented on #923
I was pointed to this issue, If I'm reading this correctly I may have just fixed it: https://github.com/testem/testem/pull/925

[2016-07-18 22:08] adamyonk commented on #923
Hm… It still seems broken to me. Here's an asciinema of what I'm seeing: https://asciinema.org/a/2q8x4ahkubbxbjgkz3ep2j8xj

[2016-07-19 17:27] adamyonk commented on #923
I thought maybe it was this, https://github.com/testem/testem/blob/7a89cabdb20741e7801f8eeb3a0c7e3cbea0b869/lib/hook_runner.js#L39, but increasing it to 20 or 30s doesn't seem to help things.

[2016-07-19 17:28] adamyonk commented on #923
Occasionally I can get the webpack build to happen in ~9-9.5 seconds, and only then, testem will NOT crash, and will correctly watch my webpac bundle.

[2016-07-19 17:55] adamyonk commented on #923
Updated the original issue to include my whole config file.

[2016-07-19 22:01] stefanpenner commented on #923
ah, ya that seems like a different case then what my pr resolved.

[2016-07-21 15:27] robguy21 opened #928 "Testem crashes with no errors"
So the following file seems to be crashing testem. As soon as it's loaded up my testem crashes in the terminal but no error messages are being displayed.

This is the file:

[code]

It looks as if it's crashing on another ReactJS component I've written in a similar fashion as the above.

Any idea's or suggestions on how to go about debugging this?

My system:

OSX El Capitan 10.11.5
testem version

[2016-07-21 16:27] tjni commented on #923
I attempted to reproduce this using sleeps in the on_start command but wasn't able to get this to fail silently without a timeout message showing up. @adamyonk, do you see the same symptoms when some other long running command is used instead of your build?

[2016-07-21 16:45] adamyonk commented on #923
Yeah:
[code]
works, but
[code]
doesn't.

[2016-07-21 16:50] johanneswuerbach commented on #923
Looks like we are setting a default timeout of 10s https://github.com/testem/testem/blob/master/lib/hook_runner.js#L39 for the hook to be executed when a text is provided.

While I'm also open to remove this default, you should be able to tweak this by setting `wait_for_text_timeout` to a higher number.

[2016-07-22 05:41] cades commented on #928
Unknown Crash +1, on `v1.10.0` and `v1.10.1`.

`testem` will fireup UI and immediately quit
`testem ci` will run normally.

[2016-07-22 15:00] robguy21 commented on #928
When running ci mode with only chrome enabled the following error is displayed:

[code]

I was going to comment to say that this seems to be an error on my side... but in my browser my app is running fine, not sure why when run with testem my store isn't passed down the chain but in my real app, when run through the browser, it is.

[2016-07-22 21:37] john-kurkowski commented on #904
Seeing this in testem v1.10.1. Also, Node.js v4.2.6, ember-cli v2.5.0.

My tests launch and continuously re-run. I'll tab away to edit code for awhile. I tab back to the terminal to find Testem exited. No obvious pattern yet.

[2016-07-22 21:44] john-kurkowski commented on #900
Sorry I didn't get a chance to try it out first. I see 1.10.0 and 1.10.1 have been released. Our CI has been passing! 🎉

[2016-07-22 21:53] sammilechman commented on #904
Seeing this in testem v1.6.0, same pattern as @john-kurkowski

[2016-07-22 23:01] flyswatter opened #931 "Browser failing to connect to testem"
When I start testem, it successfully starts browsers and runs their tests on them, but the browsers are failing to communicate these successes back to testem.

Any ideas what can cause this?

<img width="631" alt="screen shot 2016-07-22 at 3 57 55 pm" src="https://cloud.githubusercontent.com/assets/542863/17073405/820a0bba-5025-11e6-91b2-97166bb710d9.png">

Thanks a ton, excited to be setting up t

[2016-07-22 23:51] flyswatter commented on #931
I found the problem, I needed to add the snippet `<script src="/testem.js"></script>` to my `test_page`.

[2016-07-22 23:51] #931 closed

[2016-07-24 17:57] NicolasPelletier commented on #928
I got the same behavior as @cades.

Here is an extract ( I removed the middle bit ) of the log when I ran with '--debug':
[code]

I have testem 1.10.1
Mac OSX 10.11.6
NodeJS 4.4.7

[2016-07-24 17:58] NicolasPelletier commented on #928
I tried with Node 6.3.1 just for fun and got a different set of events. Here they are:
[code]

As you can see, in this case PhantomJS ran second. Don't know if that makes a difference, but I thought I'd mention it.

[2016-07-24 18:02] NicolasPelletier commented on #928
I reverted back to 1.9.1 and everything runs as expected.

[2016-07-25 01:12] darrennolan commented on #283
Was this particular ticket closed due to lack of activity or interest?

Find i'm facing the same issue now, where in ci multiple projects building out on the same server are unable to do so at the same time - due to all of them using the same port.

[2016-07-25 01:15] darrennolan commented on #283
Just found https://github.com/testem/testem/issues/842 - use port `0`.  Will look into this, thank you.

[2016-07-25 07:34] robguy21 commented on #928
Did another thing, running in normal mode testem closes unexpectedly, running with ci mode i get the expected error

[code]

my testem.log

[code]

Getting the exact same behaviour in 1.9.1

Work around of the crashing is to `P`ause right as tests begin. This will display errors without crashing the testem process. This is a bit of an inconvenience though, I think the work-around to this might be

[2016-07-25 09:32] patocallaghan commented on #890
Closing as not actionable

[2016-07-25 09:32] #890 closed

[2016-07-25 17:42] djangofan opened #932 "Why doesn't the SauceLabs example show an example of findElement?"
Why doesn't the SauceLabs example show an example of findElement(el)  or  .get(url) ?  All it has is a testem file with a hello true/false assertion.  That doesn't prove anything that would occur in a web-browser.  Am I missing something here or am I correctly noticing a lack of a good example here?

https://github.com/testem/testem/tree/master/examples/saucelabs

[2016-07-25 17:55] johanneswuerbach commented on #932
The example currently shows how to run http://jasmine.github.io/ tests on saucelabs a qunit example could be found here https://github.com/emberjs/ember.js/blob/master/testem.dist.json

`findElement` sounds more like you would like to use selenium directly, which should be possible, I just never needed it.

suacie itself uses wd https://github.com/johanneswuerbach/saucie/blob/master/lib/launch.js#

[2016-07-25 18:36] djangofan commented on #932
Thanks for the reply.  I come from a Java/Selenium testing point of view.  Are you suggesting that I would be able to get a handle on the browsers Javascript executor (not using Selenium) and perform actions (in the browser that was started on SauceLabs)?     If so, do you have once such simple example of doing that?  Or, can you point me to one?   For example, I want to navigate the page in my QU

[2016-07-25 19:02] johanneswuerbach commented on #932
Due to how testem works (iframe injected into the test page) page navigation isn't possible as this would kill the communication channel between the tests and the testem server.

The only way I could imaging running selenium tests with testem is to create a separate process, which prints tap output https://testanything.org/ to stdout parsed by testem, but you wouldn't really need testem for doing

[2016-07-25 19:56] djangofan commented on #932
Ok, this is starting to make sense now (and I am not saying that I wanted to run in SauceLabs, but you should understand why I thought that way, from my background in Java/Selenium/Sauce).  Correct me if I am wrong, as this was not obvious from the existing documentation:

# I am noticing that SauceLabs shows an additional TAB where the results of a test run are shown, presumably from the iframe-r

[2016-07-25 20:08] adamyonk commented on #923
Hm, I'm not sure if that's it either now. Here's a what's happening when I run the tests: https://asciinema.org/a/buqircp9dbb4qbhv6oe92s5bx (the bottom pane is a tail of the testem.log)

[2016-07-25 20:25] johanneswuerbach commented on #932
Yes, testem is mostly used for running javascript tests with a stubbed or fake backend. How extensive you are able to do that really depends on your frontend stack, emberjs for example also allows extensive acceptance testing https://guides.emberjs.com/v2.6.0/testing/acceptance/

Correct, while changing the dom isn't an issue, unloading the iframe is.

Most of the logic is handled inside https://g

[2016-07-25 20:57] djangofan commented on #932
Thanks, yes, I am using Ember.js .  Thanks for your help.

[2016-07-25 20:57] #932 closed

[2016-07-26 08:17] #923 closed

[2016-07-26 08:17] #928 closed

[2016-07-26 08:26] johanneswuerbach commented on #928
Release in `1.10.2`

[2016-07-26 08:26] johanneswuerbach commented on #923
Released in `1.10.2`

[2016-07-28 19:04] NicolasPelletier opened #937 "Strange errors in 1.10.2"
When I run `testem --debug` ( not `ci` mode ), I get the following error displayed on the last line of the UI of testem:
[code]

I looked into the log and I see nothing wrong.

I tried running the test again by pressing 'return' and it does not seem to add anything other than the following two lines in the log:
[code]

Once, I got the following error trace printed over the UI. In case it helps:
[c

[2016-07-29 09:57] alcinovanrooyen commented on #937
+1

[2016-07-29 18:01] adamyonk commented on #923
Thanks for the work on this! It seems to be running more reliably now. I think I am occasionally still hitting the `waitForTextTimeout` - am I correct in assuming this is the config setting to change it?
[code]

[2016-07-29 18:51] johanneswuerbach commented on #923
👍

[2016-08-01 05:28] RodrigoMattosoSilveira opened #939 "Has Testem been used with Angular 2"
I have been using Testem for a while now, I like it. Im migrating my dev framework from Angular 1 to Angular 2. I'm trying to avoid investing too much time figuring out how to set up Testem in Angular 2. I would love to hear from some one who has done it!

Thanks in advance for your assistance

Regards
Rodrigo

[2016-08-01 16:25] johanneswuerbach commented on #937
Could you share your testem config?

[2016-08-01 16:27] johanneswuerbach commented on #904
This should be resolved in v1.10.2

[2016-08-01 16:27] #904 closed

[2016-08-01 16:28] johanneswuerbach commented on #894
You can also find an example here: https://github.com/testem/testem/tree/master/examples/coverage_istanbul

[2016-08-01 16:28] #894 closed

[2016-08-01 21:26] adamyonk commented on #923
This just won't die! On testem 1.10.2 with the following config:
[code]

I'm still seeing it crash quite often with this at the end of the testem log:
[code]

[2016-08-02 14:32] robguy21 opened #945 "Testem not picking up all testing files after updating to 1.10.2"
My directory structure:

[code]

My testem.json
[code]

running `ls -la ./src/assets/js/**/*.spec.js` produces following output:
[code]

running `testem` outputs the following
[code]

All expected tests work if I pull them from their respective files and add them below to the same level that App.spec.js sits at, but this is hell to maintain.

I am running...

* TestEm 1.10.2
* Mac OSX 10.11.6
* No

[2016-08-02 14:38] johanneswuerbach commented on #945
What happens if you run `babel-tape-runner ./src/assets/js/**/*.spec.js` by itself?

[2016-08-02 14:47] robguy21 commented on #945
Snap didn't think of that, output looks as expected:

[code]

[2016-08-02 14:58] johanneswuerbach commented on #945
Ah, you need to change:
[code]
to
[code]

Otherwise testem just runs your command and returns whether it finished with exit code `0` instead of forwarding the tap output.

[2016-08-02 15:03] robguy21 commented on #945
Changed protocol to tap and still getting same results as before except this time `testem` command shows this error at the bottom:

[code]

[2016-08-02 20:08] NicolasPelletier commented on #937
@johanneswuerbach : I created a repo to demonstrate the bug: https://github.com/NicolasPelletier/Testem_Issue_937.

I cloned it, `npm i` and then `npm run test:dev` and BAM ! the problem happens. It may be that you need to press return to activate the bug, but 2 out of 3 times, it does the long trace I listed above.

[2016-08-02 20:11] NicolasPelletier commented on #937
@johanneswuerbach : This afternoon I was on:
 - Node 4.4.2
 - npm 2.15.0

[2016-08-03 13:26] #915 closed

[2016-08-04 02:39] JenHe commented on #937
I also ran into this issue on windows system.

I am running on:
TestEm 1.10.1
Win 7 Enterprise with SP1
Node 4.4.7
Npm 2.15.8

Unhandled rejection TypeError: runner.stop is not a function
    at <__ProjectFolder__>\node_modules\testem\lib\app.js:414:21
    at tryCatcher (<__ProjectFolder__>\node_modules\testem\node_modules\bluebird\js\release\util.js:16:23)
    at Object.gotValue (<__ProjectFolder

[2016-08-06 19:39] #937 closed

[2016-08-06 19:39] #945 closed

[2016-08-06 20:07] johanneswuerbach commented on #937
Thanks for the detailed bug report, fix released in `1.10.3`.

[2016-08-06 20:39] NicolasPelletier commented on #937
@johanneswuerbach : Thank you very much. It works for me now.

[2016-08-08 07:10] robguy21 commented on #945
sweeto! Thanks for fix!

[2016-08-09 00:52] adhamhf opened #953 "Testem hanging with Firefox in Jenkins..."
I'm not sure how to debug this and could use some help.  In our Jenkins setup we launch npm test which runs ember test via xvfb-run:  xvfb-run ember test --reporter xunit.

At this point it appears the testum tries to launch Firefox, but times out waiting for Firefox.

 I would like to enable debug mode for testum but it appears this is only an option if you run testem via the command line directl

[2016-08-10 09:20] amk221 commented on #906
Anybody?

[2016-08-10 09:27] johanneswuerbach commented on #906
Sorry, I didn't had time to look into this. Could you share some of the custom reporter code you are trying to get running?

[2016-08-10 10:57] amk221 commented on #906
I'm using the example custom reporter
https://github.com/testem/testem/blob/master/docs/custom_reporter.md

[2016-08-15 18:31] YoranBrondsema commented on #890
@patocallaghan We're seeing similar issues, we're also on Codeship. Funny that you mention that it's only affecting Codeship. It's the only CI service that we use so we can't really compare but it could be a reason for us to change. What's the other provider that you are using?

We are basically seeing 3 scenarios, all happening at about equal ratio:

1. The test suite runs as you would expect it

[2016-08-16 11:28] patocallaghan commented on #890
@YoranBrondsema unfortunately we never found a solution. We worked with Codeship themselves to try and diagnose the issue but neither us nor them could work it out. Our other CI provider is CircleCi and our test suite runs just fine there.

[2016-08-19 15:04] mathewbeno commented on #357
http://stackoverflow.com/a/34565762/2580499

It worked for me

Thank you

[2016-08-22 13:44] chrmod opened #958 "Custom launchers hang on big output"
As launcher processes as created using `chilld_process.exec` (https://github.com/testem/testem/blob/master/lib/process-ctl.js#L89) their output is limited to maxBuffer size, which is 200kb (https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback).
This results in runners waiting for all tests results which will never come in effect testem hangs.

There a

[2016-08-22 13:59] johanneswuerbach commented on #958
You can already use `spawn` today by specifying `exe` and `args` instead of a `cmd` in your launcher config.

Example: https://github.com/testem/testem/blob/760e5c8b1d892c357bcce321cbd24b8ab899c4a8/examples/saucelabs/testem.json#L20-L21

[2016-08-22 14:10] adhamhf commented on #953
@rwjblue @johanneswuerbach  any thoughts on this?  Its blocking our automated testing of firefox.  Below are the last few log lines where I launched xvfb-run with -x and had node logging set to debug.  It does actually like like some tests are running but there a socket.io:client timeout that appears to hang the test.  I've left it running like this for an hour and it never recovers.

[code]

[2016-08-22 15:09] chrmod commented on #958
@johanneswuerbach are you willing to accept the PR or rather deprecate `command` option?

[2016-08-22 15:17] johanneswuerbach commented on #958
I would definitely like to replace of usages of exec with spawn, but always wondered about the args parsing and all possible edges related to that when converting `cmd` => `exe` + `args`.

If that is figured out, the change should be easy.

[2016-08-24 16:17] adhamhf commented on #953
If I fire up FF in a full X11 session I get warnings about unresponsive scripts.  I *think* this is what is happening in the xvfb session, so I'm going to try and figure out how to headless disable this warning.  BTW, FF runs our tests twice as slow as phantom, chrome or safari so it seems like this is the cause.

[2016-08-25 15:47] jzaefferer opened #962 "maxDepth is reached for trivial objects"
Using testem@1.10.4, I'm running into an issue that #811 was supposed to fix. There, maxDepth in decycle.js was increased from 4 to 5, which seems not enough for a trivial QUnit `deepEqual` comparison. In my test, I'm using ember-cli, which integrates testem. This is the test itself:

[code]

Expected (output running QUnit in browser):
![...](http://bassistance.de/i/515589.png)

Actual (output run

[2016-08-25 17:00] toranb commented on #920
@raytiley anyone ever drop in to say "hey thanks for reporting?"

Also - are you still having issues w/ this on your CI machine or was this a dev machine?

I'm running into this now but just vanilla testem 1.10.4 on my jenkins machine (no split or partition options present)

[2016-08-25 17:47] raytiley commented on #920
@toranb I wasn't able to really ever dig in this.. It only happened on our CI so we just abandoned it. Our CI was windows, so might be completely different from what your seeing.

[2016-08-25 17:49] toranb commented on #920
@raytiley ah didn't realize it was windows. I just dropped back to testem 1.9.1 and suddenly this issue is not showing up on jenkins

I'll investigate more if I'm still struggling -else we could consider closing it out if you think what I'm doing is completely unrelated

[2016-08-25 20:57] toranb commented on #920
@raytiley closing this out as it's related to display not showing up on my CI box (silly me)

Xvfb :99 &
export DISPLAY=:99

doing those before did the trick

[2016-08-25 23:54] cdaringe opened #963 "tape example doesn't permit basic running in dev mode"
# problem statement

`testem` in the tape branch runs and exits

# expected

tabs to remain open and watching

# reproduce

- fresh clone of this repo
- cd to tape example (i.e. [here](https://github.com/testem/testem/tree/master/examples/tape_example)) then, run testem.

[2016-09-01 07:00] markmarijnissen commented on #765
Indeed, this also seems to be broken with Node Mocha tests. I followed instructions in the README.md and while the test run, I see no report.

[2016-09-01 07:38] johanneswuerbach commented on #765
Could you try testem master? It should be fixed now and I'm planning a release soon

[2016-09-04 21:09] #808 closed

[2016-09-06 22:56] rafalik2pl commented on #906
I have same isssue, any solutions?

[2016-09-07 14:22] johanneswuerbach commented on #427
Since `v1.11.0` customising default launcher arguments is possible https://github.com/testem/testem/tree/v1.11.0#customizing-browser-arguments

[2016-09-07 14:22] #427 closed

[2016-09-07 14:22] johanneswuerbach commented on #199
This should no longer happen with `v1.11.0`

[2016-09-07 14:22] #199 closed

[2016-09-07 14:28] johanneswuerbach commented on #694
This is support since `v1.7.0`

[2016-09-07 14:28] #694 closed

[2016-09-07 14:31] johanneswuerbach commented on #861
Testem `v1.11.0` allows to not customise arguments passed to custom launchers: https://github.com/testem/testem#customizing-browser-arguments

[2016-09-07 14:31] #861 closed

[2016-09-07 14:32] johanneswuerbach commented on #876
Testem `v1.11.0` allows now to customise arguments passed to build-in launchers: https://github.com/testem/testem#customizing-browser-arguments

[2016-09-07 14:32] #876 closed

[2016-09-07 14:34] johanneswuerbach commented on #765
The issue should be resolved with testem `v1.11.0`

[2016-09-07 14:34] #765 closed

[2016-09-07 14:35] #210 closed

[2016-09-07 14:59] #958 closed

[2016-09-07 15:00] johanneswuerbach commented on #953
@adhamhf sorry for the late reply, were you able to get it running?

[2016-09-07 15:01] johanneswuerbach commented on #939
Nothing should prevent testem to work with angular 2.

[2016-09-07 15:01] #939 closed

[2016-09-07 15:03] johanneswuerbach commented on #920
@raytiley sorry for the late reply, do you still see this issue. Recent testem versions fixed a bunch of event listener leaks.

[2016-09-07 20:47] webark commented on #906
@rafalik2pl you should upgrade to the latest beta version. _(need to get this on the readme)_

[2016-09-07 21:46] adhamhf commented on #953
@johanneswuerbach yup, still seeing it.  Part of the problem is the dom.max_script_run_time preference in Firefox.  If something takes longer than 3 seconds it popups up a dialog and hangs FF until you click dismiss.  This isn't possible in a headless environment...  I'm not sure if this totally resolves the issue or just lets you get to the next one but this might help:

          'user_pref("dom

[2016-09-08 02:22] adhamhf commented on #953
actually, I think that did solve it.  My shrinkwrap file was preventing me from getting the change though.  I'm going to test more and maybe I'll be able to send up a PR.  It seems like sometimes our CI is under load and this causes the JS to run slow enough in FF to kick this dialog in.  I have noticed this more when using xvfb-run than I have with xvfb directly, but I have no empirical data.

[2016-09-08 19:26] rupurt opened #973 "Configurable debug file location"
Hi,

Would you consider the ability to configure the debug log location? We're currently experiencing sporadic timeouts on CircleCI and would like to save the debug file to the artifacts folder.

[2016-09-08 20:25] rupurt commented on #783
@Vanuan that would be fantastic.

[2016-09-09 04:56] #973 closed

[2016-09-09 21:10] #783 closed

[2016-09-09 21:10] #963 closed

[2016-09-09 21:17] johanneswuerbach commented on #835
@bcardarella do you still see this issue?

[2016-09-09 21:19] bcardarella commented on #835
@johanneswuerbach we actually found another solution, parallel sandboxed DB transactions server-side 😄

[2016-09-14 11:01] amk221 commented on #906
Wondering... if this is 'just a docs thing' could you let us know what we need to do in order to get this to work? :)

[2016-09-14 16:19] jzaefferer commented on #962
@johanneswuerbach any thoughts on this? Is there a history here besides the issue I linked to that I should be aware of? I can try to provide a PR, any guidance would help.

[2016-09-14 16:59] johanneswuerbach commented on #962
I think the best approach would be a configurable max depth. The current settings was choosen based on some test with a larg-ish test suite and IE 8. Modern browsers shouldn't have any problems with serializing/deserialzing larger objects, but mobile still might so a configurable setting would should both worlds happy

[2016-09-14 17:04] rupurt opened #980 "Hooks and build tool daemons"
Howdy,

Our test suite has grown in size and we're starting to run into performance issues when using `testem` with `Webpack`. Currently we're watching our src directories via `testem` and running the `Webpack` build step in a `before_tests` hook.

[code]

This is suboptimal because it takes ~30s to complete a build from scratch and < 1s to complete a partial build when using `Webpack` in watch mo

[2016-09-14 17:11] jzaefferer commented on #962
I see. Though that sounds like it won't address the underlying issue: Its purging top-level properties! They're not beyond the current max depth, they're well below. Any idea what's causing my harmless object to be mistaken to be several levels deep?

[2016-09-14 17:19] johanneswuerbach commented on #962
I'm currently only on my mobile, but I guess your object is just a part of a larger object send from the testem client to the server and so 5 levels doesn't mean 5 levels of your objects. Another possible solution might be to no evaluate the testem boilerplate and just cut user provided objects.

[2016-09-14 17:27] jzaefferer commented on #962
That sounds like a better approach. Last time I looked at the code, I had no clue how to do that though.

[2016-09-14 19:54] rupurt commented on #980
I managed to figure it out. The key was to use a custom `wait_for_text` in the `on_start` hook. e.g.

[code]

[2016-09-14 19:54] #980 closed

[2016-09-14 19:56] rupurt commented on #654
I figured out a way to get a similar workflow to `ember-cli` #980

[2016-09-19 13:53] adhamhf commented on #953
@johanneswuerbach  PR https://github.com/testem/testem/pull/984 will fix this.

[2016-09-19 18:55] rupurt commented on #890
@patocallaghan we're seeing the same problem on CircleCI unfortunately :{

[2016-09-19 19:34] rupurt opened #985 "Timeout killing Chrome process"
Hi,

We've been experiencing sporadic build timeouts on CircleCI. I enabled debug and added some extra logging in a new branch for the hooks to try and figure out what was going on.

https://github.com/rupurt/testem/tree/log-hook-output (No tests yet)

It appears that sometimes `testem` times out when trying to kill the browser process. This is the log of my output.

[code]

Do you have any recomm

[2016-09-21 11:05] andrei-sheina opened #986 "Test timed out"
I have an Ember app and using standard ember testing configuration (testem, phantom, qunit). I am trying to launch the simplest test, here is the code:
[code]

And i'm getting the following error in terminal:
[code]
Obviously problem with promises (simple test without using promises works fine).
How can i fix that?

[2016-09-21 11:08] johanneswuerbach commented on #986
Not really sure how ember tests work, but looks like you missed a `return visit('/sign-in')` to return the promise.

Otherwise a better place might be the ember-cli issue page.

[2016-09-25 21:11] #953 closed

[2016-09-26 14:44] adhamhf opened #988 "consider switching to user.js instead of prefs.js"
Right now testem is use prefs.js for setting prefs and custom profiles. Based on FireFox documentation it appears it would be better to use user.js instead.

http://kb.mozillazine.org/User.js_file

[2016-09-27 09:07] amk221 commented on #906
...dreams of one day running a custom test reporter...

[2016-10-06 09:51] ikondrat opened #992 "Run test page in https environment"
Hi as I havn't found answer for my question in issues or description I will try to find it as issue.

I assumed that it is possible to use https for test page, but then I set **url: 'https://host:port'** test doesn't run in Development Mode(with PhantomJs or any other launcher)

Is it known issue or limitation? Thanks for answer

[2016-10-06 10:51] johanneswuerbach commented on #992
There is an undocumented way to serve testem via https by providing a key or pfx https://github.com/testem/testem/pull/498

[2016-10-07 07:07] ikondrat commented on #992
@johanneswuerbach Thanks a lot i will try to use it

[2016-10-13 19:56] adhamhf opened #994 "testem sometimes fails to attach to browser on macOS"
I've got jenkins running on macOS.  If the user is logging and active I have not reproduced the issue.

If the user is logged in but the lock screen has kicked in I'm consistently ( but intermittently ) seeing that testem fails to attach to the browser.

info New client connected: Firefox 49.0 4969
info tryAttach Firefox 49.0 4969

I have seen this with Safari always.  I'm adding more log.info sta

[2016-10-14 17:05] #988 closed

[2016-10-19 14:51] ksjun opened #995 "IE compatibility mode is not avaiable"
'testem launchers' doesn't list up IE7-9 as README.md. Only 'IE' is displayed.

And 'testem ci -l ie7' shows 'Launcher ie9 not found'.

[2016-10-19 14:53] ksjun opened #996 "Launcher for Microsoft Edge"
Please support Edge browser for ci mode.

[2016-10-19 15:00] ksjun opened #997 "Launchers in InPrivate, incognito mode"
Sometimes ci test in InPrivate / incognito mode is needed.

[2016-10-19 16:17] johanneswuerbach commented on #997
While I don't really see a need for this as testem starts each browser with a new profile, you can already do it today using https://github.com/testem/testem/blob/master/docs/browser_args.md

http://www.howtogeek.com/137466/how-to-always-start-any-browser-in-private-browsing-mode/

What is your use-case requiring the private mode?

[2016-10-19 16:18] johanneswuerbach commented on #996
As I don't have a Windows machine, do you know the path to start edge from the cmd?

[2016-10-19 16:21] johanneswuerbach commented on #995
Yes, this has been previously supported, but has been removed at some point due to difficulties implementing it as compatibility mode requires the browser to receive a specific header as no command line flag is available to toggle it.

Help bringing it back is very welcome.

[2016-10-19 19:31] #992 closed

[2016-10-20 09:40] ksjun commented on #996
After researching about Edge, it's not easy managing Edge process.

Edge is at `%SystemRoot%/SystemApps/Microsoft.MicrosoftEdge_8wekyb3d8bbwe/MicrosoftEdge.exe`

As Edge is UWP app, we can't run it directly but through protocol activation "microsoft-edge:" like...

`process = crossSpawn.sync('cmd.exe', ['/c', 'start microsoft-edge:http://www.google.com'])`

Above code can run edge with a url, but

[2016-10-25 11:22] johanneswuerbach commented on #906
https://github.com/ember-cli/ember-cli/pull/6385 together with https://github.com/testem/testem/pull/1001 should fix this behaviour. Would be glad when somebody could confirm that.

[2016-10-25 19:03] lancedikson commented on #997
I need to launch browsers in incognito mode too. E.g. it's needed to test some modules that works with WebStorage (LocalStorage and SessionStorage). They have specific behaviour in that mode.
I guess it's good to let community know that it could be made with custom browser arguments. I mean, provide that information in docs. What do you think?

[2016-10-25 20:36] johanneswuerbach commented on #997
Right, I didn't thought about those. PRs always welcome.

[2016-10-25 20:37] #986 closed

[2016-10-25 20:40] johanneswuerbach commented on #985
Sorry, I don't see anything obvious.

[2016-10-25 20:43] johanneswuerbach commented on #994
Maybe related to the App Nap introduced in Mavericks? Could you try whether http://osxdaily.com/2014/05/13/disable-app-nap-mac-os-x/ helps?

[2016-10-25 21:33] adhamhf commented on #994
not App Nap related.  I've disabled it globally.

[2016-10-25 21:47] adhamhf commented on #994
Here's some additionally logging I added.  The problem appears to be that the Socket can't connect to the browser to read the output....  Additionally this output is from Firefox, so the issue isn't just Safari.

[code]

[2016-10-26 19:57] wagenet opened #1002 "No synchronous `afterTests` anymore"
The README implies that you can do a synchronous `afterTests`. However, I'm not seeing how this would work from the code. It's expected that you call the callback passed into your `afterTests` function. It used to work for me in the past, but I'm not actually seeing how it did now that I look at the code!

[2016-10-26 21:27] johanneswuerbach commented on #1002
`afterTests` was intended for async usage only https://github.com/testem/testem/pull/823.

You can still hook into the previously documented `Testem.on('all-test-results', function(results) {})` hook for synchronous usage.

May I ask what your use-case is and why you need a sync hook?

[2016-10-27 15:43] wagenet commented on #1002
@johanneswuerbach I don't have any specific need for it. However, my tests were set up without calling the `callback` this used to work and no longer works, leading to the tests just hanging. I've made a PR to update the README: https://github.com/testem/testem/pull/1003

[2016-10-27 15:43] #1002 closed

[2016-11-03 14:38] BernsteinA opened #1007 "before_tests not passing args anymore"
New since pr #998
Logs to follow.

[2016-11-03 14:47] BernsteinA commented on #1007
[code]

[2016-11-04 17:34] johanneswuerbach commented on #1007
Could you post your testem config?

[2016-11-04 17:36] #835 closed

[2016-11-04 17:44] BernsteinA commented on #1007
[code]

[2016-11-04 18:46] johanneswuerbach commented on #1007
Is this error happing only in Node 7 or also in older versions? Testem is currently no tested against 7, but should work.

[2016-11-04 18:52] johanneswuerbach commented on #1007
Looks like Node 7 was really the issue, submitted a fix to an upstream dependency. https://github.com/IndigoUnited/node-cross-spawn/pull/48

[2016-11-04 20:23] BernsteinA commented on #1007
Nice. Thanks

[2016-11-05 08:17] johanneswuerbach commented on #1007
The upstream issue has been fixed and it should work once you reinstall testem or just cross-spawn

[2016-11-05 08:17] #1007 closed

[2016-11-05 14:22] #392 closed

[2016-11-05 14:23] johanneswuerbach commented on #229
An example for code coverage is now available here https://github.com/testem/testem/tree/master/examples/coverage_istanbul

[2016-11-05 14:23] #229 closed

[2016-11-05 14:24] #423 closed

[2016-11-05 14:25] johanneswuerbach commented on #527
This should be resolved in master.

[2016-11-05 14:25] #527 closed

[2016-11-05 23:29] johanneswuerbach commented on #521
This should be resolved in the latest master.

[2016-11-05 23:29] #521 closed

[2016-11-05 23:30] johanneswuerbach commented on #654
This should be resolve in the latest master.

[2016-11-05 23:30] #654 closed

[2016-11-10 12:32] patocallaghan opened #1015 "Retry mechanism?"
Hey,

we get the below error quite a lot of times in our CI environment which causes our tests to fail/timeout. From looking at the Testem documentation it doesn't appear that Testem has retry functionality but do you know of a strategy which could detect this error and then retry the tests?

[code]

[2016-11-11 20:48] greenkeeper[bot] opened #1016 "An in-range update of eslint is breaking the build 🚨"
## Version **3.10.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Feslint-3.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Vers

[2016-11-11 21:00] #1016 closed

[2016-11-14 19:16] greenkeeper[bot] opened #1017 "An in-range update of eslint is breaking the build 🚨"
## Version **3.10.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Feslint-3.10.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Vers

[2016-11-16 13:49] stripedpumpkin commented on #1015
Same problem here in CI (Codeship) running `COVERAGE=true nvm exec ./node_modules/ember-cli/bin/ember test`.
We run our ember tests with phantom first and then with chrome

**testem.js**
[code]

**log**
[code]
Tends to happen 1 out of 4 times. Rest of the time, tests are running with chrome.

[2016-11-16 13:51] johanneswuerbach commented on #1015
Testem has no build-in functionality for retrying lunchers today, but PRs are more then welcome.

[2016-11-16 21:49] tandrewnichols commented on #549
For anyone else who finds this, the last pass download page no longer has the Uninstaller separately available for download. I had to locate the original download of lastpass, which included both an installer and an uninstaller. A bit tedious, but LastPass no longer tries to jump on my testem window.

[2016-11-17 01:14] greenkeeper[bot] opened #1018 "An in-range update of npmlog is breaking the build 🚨"
## Version **4.0.1** of [npmlog](https://github.com/npm/npmlog) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fnpmlog-4.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      npmlog
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2016-11-17 15:54] greenkeeper[bot] opened #1019 "An in-range update of consolidate is breaking the build 🚨"
## Version **0.14.5** of [consolidate](https://github.com/visionmedia/consolidate.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fconsolidate-0.14.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      consolidate
    </td>
  </tr>
  <tr>
    <th al

[2016-11-18 17:23] greenkeeper[bot] opened #1020 "An in-range update of request is breaking the build 🚨"
## Version **2.79.0** of [request](https://github.com/request/request) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Frequest-2.79.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      request
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2016-11-19 02:19] patocallaghan opened #1021 "Testem Chrome Timeouts"
Hey,

as I mention in https://github.com/testem/testem/issues/1015 we frequently get testem failures in CI when running against the Chrome (we use Testem through Ember CLI). Our test runs either fail to start (as if testem can't find the browser) or fail to finish (all tests have run and pass, but the browser window sits there and it eventually times out). It usually just tells us `testem.js has n

[2016-11-19 20:18] #1018 closed

[2016-11-19 20:19] #1017 closed

[2016-11-19 20:19] #1019 closed

[2016-11-19 20:20] #1020 closed

[2016-11-20 03:36] greenkeeper[bot] opened #1022 "An in-range update of socket.io is breaking the build 🚨"
## Version **1.6.0** of [socket.io](https://github.com/socketio/socket.io) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fsocket.io-1.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      socket.io
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-11-20 11:25] #1022 closed

[2016-11-20 15:31] johanneswuerbach commented on #1021
@patocallaghan first thing after looking into your repo, are you sure each browser instance starts in < 30s? This is the default start timeout and it was causing a bunch of browsers to fail for me.

You can tweak this in your config `browser_start_timeout`  https://github.com/testem/testem/blob/master/docs/config_file.md#config-level-options

[2016-11-20 15:34] johanneswuerbach commented on #1021
Once testem successfully started, it should always close and I would consider this a bug, but can't really reproduce it yet :-(

[2016-11-22 00:07] greenkeeper[bot] opened #1025 "An in-range update of tap-parser is breaking the build 🚨"
## Version **3.0.4** of [tap-parser](https://github.com/substack/tap-parser) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Ftap-parser-3.0.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap-parser
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-11-22 07:04] #1025 closed

[2016-11-22 12:40] Turbo87 opened #1026 "RangeError: out of range index"
I've started seeing the following error lately when running `ember test`, which is using `testem` underneath:

[code]

I can't reliably reproduce it, but it's currently triggering every two/three times when I run `ember test` in that repository.

`ws-pure` is apparently used by `socket.io-pure`, which is used by `testem`. Since those two libs seems to be forks of the original libraries I've chosen

[2016-11-22 13:08] johanneswuerbach commented on #1026
Which version of testem are you running? Newer versions are using the default socket.io as all native dependencies have been removed.

[2016-11-22 13:21] Turbo87 commented on #1026
This seems to be using v0.9.11 of testem. Good point about the version numbers... I'll try to upgrade and see if that helps 👍

[2016-11-24 10:56] patocallaghan commented on #1021
@johanneswuerbach tried what you suggested with increasing the browser startup timeout but it didn't work. I'm still getting testem failing to start.

With regards this error here:

[code]

where would this be thrown from? I can't find any string in the codebase that matches `failed to connect. testem.js not loaded?`

[2016-11-24 12:02] patocallaghan commented on #1021
@johanneswuerbach so I tried to look a little bit more into it and I saw the below error

[code]

I'm not sure about the Chrome error itself but interestingly Testem hung after this was thrown and didn't automatically close. It stayed open indefinitely. I wonder is there some codepath being exercised when this type of error his hit where it doesn't close the process?

[2016-11-25 00:09] greenkeeper[bot] opened #1028 "An in-range update of mocha is breaking the build 🚨"
## Version **3.2.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fmocha-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2016-11-27 14:09] greenkeeper[bot] opened #1029 "An in-range update of xmldom is breaking the build 🚨"
## Version **0.1.24** of [xmldom](https://github.com/jindw/xmldom) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fxmldom-0.1.24">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      xmldom
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2016-11-28 17:31] greenkeeper[bot] opened #1030 "An in-range update of eslint is breaking the build 🚨"
## Version **3.11.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Feslint-3.11.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Vers

[2016-11-29 06:06] greenkeeper[bot] opened #1031 "An in-range update of eslint-plugin-mocha is breaking the build 🚨"
## Version **4.7.0** of [eslint-plugin-mocha](https://github.com/lo1tuma/eslint-plugin-mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Feslint-plugin-mocha-4.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-mocha
    </td>

[2016-11-30 08:32] mcfiredrill opened #1033 "output different reporter to separate file"
Hi,

I'm running testem ci mode on Circle CI, so I'm using `testem ci -R xunit` to get Circle CI to process the report properly. However this isn't very readable when I'm just reading the output.

Is there anyway I could use the normal TAP reporter but somehow export the xunit reporter output to a separate file?

For example, in rspec you can do this:
[code]
This will print the normal, human reada

[2016-11-30 08:49] johanneswuerbach commented on #1033
This is currently not possible.

[2016-11-30 10:23] #906 closed

[2016-12-02 12:57] Turbo87 commented on #1026
this seems to have been resolved by updating, thanks!

[2016-12-02 12:57] #1026 closed

[2016-12-02 18:31] greenkeeper[bot] opened #1035 "An in-range update of http-proxy is breaking the build 🚨"
## Version **1.16.0** of [http-proxy](https://github.com/nodejitsu/node-http-proxy) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fhttp-proxy-1.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      http-proxy
    </td>
  </tr>
  <tr>
    <th align=

[2016-12-02 23:07] #1035 closed

[2016-12-02 23:08] #1031 closed

[2016-12-02 23:08] #1030 closed

[2016-12-02 23:08] #1029 closed

[2016-12-02 23:09] #1028 closed

[2016-12-06 22:11] joebartels commented on #777
I was able to mitigate the issue by playing with the `--memory-pressure-thresholds` flag

[code]
`4` makes it fail faster, and `1` is working out well for me so far...

Some resources that lead me to make the change:
https://bugs.chromium.org/p/chromium/issues/detail?id=449374
https://chromium.googlesource.com/chromium/src/+/f6f74b0eeeb0598b982f44f663405fb9ca919907/chrome/browser/about_flags.cc#29

[2016-12-09 23:48] vvohra commented on #803
@johanneswuerbach Do you think this is still something do-able?

Since this issue was made the code has changed, so now a change is probably required somewhere [here](https://github.com/testem/testem/blob/master/lib/reporters/xunit_reporter.js#L39)

I'm wondering if I should try to make this generic, but I'm not sure if this is applicable to other reporters.

[2016-12-13 21:33] #803 closed

[2016-12-16 22:19] job13er opened #1043 "Errors in beforeEach not reported in ci mode in mocha"
With the most recent versions of `mocha`, the `test end` event is no longer emitted when there is an error thrown in a `beforeEach()`, the result is that in CI mode. Previously the `test end` event was emitted whenever there's a `fail` event, but that's no longer the case. As a result, `testem` no longer shows the error. This manifested for my team when using `ember-cli` and `ember-cli-mocha`.

I

[2016-12-21 23:02] #1043 closed

[2016-12-26 10:57] greenkeeper[bot] opened #1046 "An in-range update of saucie is breaking the build 🚨"
## Version **2.1.0** of [saucie](https://github.com/johanneswuerbach/saucie) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fsaucie-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      saucie
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2016-12-26 21:30] #1046 closed

[2017-01-03 09:03] avdv commented on #1021
Hi.

We have the same problem. Chrome just open the window and the tab spinner is running, but it seems it cannot load the page from localhost:33062/921/tests/index.html. We're using ember-cli too.

We have set the timeout to 180 seconds, but still no dice. :sob:

Firefox on the other hand just works, but Chrome starts only 1/50 times. Chrome only show the `Xlib: extension "RANDR" missing on displ

[2017-01-03 09:20] johanneswuerbach commented on #1021
Could you inspect the network traffic, whether some websocket traffic is done during that time? Maybe testem client / server are in an endless loop for some reason.

[2017-01-05 15:54] alexander-alvarez opened #1052 "Expose server to middleware"
So that we can upgrade SSL proxying (like [this](https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/server/middleware/proxy-server/index.js#L31)) in testem middleware.

Would we be against passing [this.server](https://github.com/testem/testem/blob/fe38b04ca9c77e43122e8a0ec26ff28a7c9b7c69/lib/server/index.js#L98) to the [injectMiddlewareFunction](https://github.com/testem/testem/blob/fe3

[2017-01-05 15:55] johanneswuerbach commented on #1052
No, sounds good to me.

[2017-01-08 04:33] greenkeeper[bot] opened #1054 "An in-range update of tap-parser is breaking the build 🚨"
## Version **4.2.4** of [tap-parser](https://github.com/substack/tap-parser) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Ftap-parser-4.2.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap-parser
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-01-11 19:15] stephenh opened #1055 "Put failed tests at the top"
Currently if I run ~1000+ testem tests, and I have 4 failures, I have to just scroll through the browser UI hunting for the failures.

Ideally the failed tests would be obvious to find; e.g. a cheap way would be to add a constant to search for, e.g. "FAILED", or even better would be to separate files that passed vs. files that had failures into two separate sections, instead of just listing them i

[2017-01-11 19:36] johanneswuerbach commented on #1055
Could you post your testem config and share which test framework you are using? Testem doesn't really provide a browser UI

[2017-01-11 20:58] dfreeman opened #1056 "`this.onFinish is not a function`"
Since updating to 1.14, I've started seeing `this.onFinish is not a function` errors from time to time stemming from `browser_test_runner.js`.

To be honest, I'm not familiar with the testem internals, and I'm a little murky on the exact sequence of events that's leading to this scenario, but I'm guessing that [this change](https://github.com/testem/testem/commit/2561a84b572fe8c82aeb214d721f4bca83

[2017-01-11 22:01] getsnoopy commented on #1056
@dfreeman yes, that seems to be the issue. when i add a similar guard in the `return` statement, the error goes away.

[2017-01-11 22:06] johanneswuerbach commented on #1056
Sounds good, would happily accept a PR :-)

[2017-01-11 22:50] stephenh commented on #1055
Hey, thanks for the quick response.

My testem config has a lot of odd/internal stuff in it, but the UI I was talking about looks like (just a snippet of the test count/progress box):

![image](https://cloud.githubusercontent.com/assets/6401/21869417/2c9a54ca-d81d-11e6-92df-51fd210429c6.png)

We use mocha+chai for test/asserts, and phantomjs for the ci build, and technically do have a custom test

[2017-01-11 22:50] #1055 closed

[2017-01-12 09:07] #1056 closed

[2017-01-12 17:15] xamoom-pali commented on #867
@davidhao3300 Can you be more specific what the problem was? We are facing a similar issue

[2017-01-12 20:38] tylerball commented on #1007
I'm also experiencing this on node v5.7.0 with testem 1.14.2. Here's my testem.json:

[code]

[2017-01-13 08:05] johanneswuerbach commented on #1007
What is the error log you are seeing?

[2017-01-13 16:00] tylerball commented on #1007
Similar to @BernsteinA's. Here's the output:

[code]

[2017-01-17 18:02] oniofchaos commented on #962
Experiencing the same on testem@1.13.0

[2017-01-20 06:35] #1054 closed

[2017-01-24 21:55] greenkeeper[bot] opened #1061 "An in-range update of tap-parser is breaking the build 🚨"
## Version **5.3.0** of [tap-parser](https://github.com/substack/tap-parser) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Ftap-parser-5.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap-parser
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-01-25 10:52] ahmet571 commented on #91
IF NEWMAN or another EXE is not starting from JENKINS CHANGE the USER of JENKINS to jour SELF: (user who wants to execute Jenkins job!!!).

![newman issue on windows](https://cloud.githubusercontent.com/assets/5954380/22287819/958ec86c-e2f4-11e6-8fce-b71e8dd9a1e8.png)

[2017-01-26 07:16] #1061 closed

[2017-01-27 15:26] kbullaughey opened #1063 "Many chrome browsers start"
I'm using testem with and ember-cli project in dev mode launching Chrome.

When I'm pausing at breakpoints to debug and saving files as I fix things, testem will launch new instances of Chrome. Before long I'll have five instances of Chrome running, all running my tests and slowing down my machine and hogging my CPU. Is this expected behavior or have I configured something wrong? or is it a bug. I

[2017-01-27 15:38] johanneswuerbach commented on #1063
Sounds like a bug, testem expects the browser to connect to the testem server once its launched, maybe the breakpoint also breaks the websocket connection?

https://github.com/testem/testem/blob/master/lib/runners/browser_test_runner.js#L69

[2017-01-27 15:45] justinaray commented on #1063
I am experiencing the same problem.  It started yesterday with breakpoints as @kbullaughey mentioned; however, I'm seeing it today with no breakpoints.  Anything else I can help with on a recreate?

Testem terminal shows `PhantomJS`, `Chrome`, `Chrome 55.0`, `Chrome 55.0`, ... `Chrome 55.0`

macOS Sierra
ember/ember-cli: 2.9.x
testem: 1.14.3

[2017-01-27 16:11] justinaray commented on #1063
I upgraded chrome and rolled back to lts node and things seem to be better.  Not sure which was the culprit, but I'm assuming it was latest node?  Not using breakpoints currently, so that may still be an issue.

HTH

Chrome: 56.0.2924.76
Node: 6.9.4

[2017-01-28 16:10] kbullaughey commented on #1063
I am using:

Chrome: 55.0.2883.95
Node: v4.5.0
Testem: 1.14.2
ember-cli: 2.10.0

[2017-01-31 14:32] bradleylandis opened #1067 "src_files - do not allow duplicates"
Currently, if you specify a file at the top of the list and then it matches a glob later in the list, the file is output into the SpecRunner.html twice.

To help with the problem of "order matters" when specifying source files, it would be great if when a glob is specified, if the matching file was already specified (explicitly or through another glob) then the current glob ignored it.  This would

[2017-02-02 17:25] AntoniosHadji opened #1068 "Testem showing info related to jasmine on failures list"
I have not been able to discover a configuration that will exclude the jasmine files in the failure report.  These files show in the terminal also. In the image below, the only file that matters is on the 7th line, loopsSpec.js.

I'm running testem 1.14.3 on node v6.9.4 on ubuntu linux 16.04.1

![image](https://cloud.githubusercontent.com/assets/1932568/22560279/0211acfe-e942-11e6-8743-e263623aedd

[2017-02-03 21:00] AntoniosHadji commented on #1068
This is actually how jasmine shows errors. I'm closing this issue.

[2017-02-03 21:00] #1068 closed

[2017-02-04 01:20] jrburke opened #1069 "Hanging test runs, pointers to debug"
I recently updated an Ember project to Ember 2.11, node 6.9.5, and testem 1.14.3. Now when I run `ember test`, which I believe calls out to testem, all the tests run and pass, but then it just seems to hang after printing the last `ok` result. It affects all three browser cases we are running, phantomjs, chrome, firefox.

I have tried creating a sample project with all the same dependencies, but I

[2017-02-07 20:17] justinaray commented on #1063
I spoke too soon.  This still appears to be a problem without breakpoints.

[2017-02-07 23:27] jrburke commented on #1069
This was a result of synchronous Testem.afterTests() use in the tests/index.html file. Switching to the [async form](https://github.com/testem/testem#running-browser-code-after-tests-complete) fixed the problem.

[2017-02-08 07:00] johanneswuerbach commented on #1069
Thanks for the follow-up, re-opening so we keep track that this has a sub-optimal dev experience

[2017-02-09 04:50] mfeckie commented on #1063
Similar issue here.  I see it if I set any filters on the tests or do anything with breakpoints.

[2017-02-09 05:44] bendemboski commented on #1063
#1071 may be a fix for this issue. However, I haven't been able to repro this exact issue in any of my ember-cli projects. However, I do have a theory. Does anybody that hit this issue have `src_files` configured in your testem config? Can anybody that is able to repro this try running against the #1071 branch and see if it fixes the issue?

Here's my theory as to how #1071 might fix this bug. Wha

[2017-02-09 18:34] lrsnider commented on #519
+1 as well

[2017-02-10 08:31] #1063 closed

[2017-02-15 09:59] netes commented on #962
Same here.

[2017-02-17 21:07] Gaurav0 opened #1073 "With a custom reporter and report_file, testem 1.14+ logs tests twice"

[2017-02-20 10:59] greenkeeper[bot] opened #1074 "An in-range update of tap-parser is breaking the build 🚨"
## Version **5.1.4** of [tap-parser](https://github.com/substack/tap-parser) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Ftap-parser-5.1.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap-parser
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-21 17:03] NicolasPelletier opened #1075 "`setRawMode` error on exit"
When I am using TestEm in development mode ( `testem` ), I get the following error when I press `q` to quit:
[code]

Here is the end of the log if I try `testem --debug` to see what happened:
[code]

I am on MacOX 10.11.6
Node: v6.3.1
Npm: 3.10.3

[2017-02-23 01:11] greenkeeper[bot] opened #1076 "An in-range update of eslint is breaking the build 🚨"
## Version **3.16.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Feslint-3.16.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Vers

[2017-02-24 00:14] greenkeeper[bot] opened #1077 "An in-range update of printf is breaking the build 🚨"
## Version **0.2.5** of [printf](https://github.com/wdavidw/node-printf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fprintf-0.2.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      printf
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-02-24 05:15] greenkeeper[bot] opened #1078 "An in-range update of rimraf is breaking the build 🚨"
## Version **2.6.1** of [rimraf](https://github.com/isaacs/rimraf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Frimraf-2.6.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rimraf
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-02-25 09:47] humiimalik commented on #91
@ahmet571  Hi, what user did you use? it doesnt list the user with i login in the system.
It shows the admin and administrator but doesnt accept the passwords. any other way?

[2017-03-01 16:45] cs3b commented on #1021
I've the same issue with Firefox ... and it only is a problem in Travis CI (not sure why), locally works fine, here are the logs from Travis Ci

[code]

and here is the travis ci config

[code]

might be that the problem is within travis ci itself - still hard to debug. So far the only solutions is to go back to PhantomJS.

[2017-03-07 06:12] #1076 closed

[2017-03-07 06:13] #1074 closed

[2017-03-09 16:56] greenkeeper[bot] opened #1081 "An in-range update of request is breaking the build 🚨"
## Version **2.81.0** of [request](https://github.com/request/request) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Frequest-2.81.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      request
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-03-09 16:56] tiandavis opened #1082 "Configure container dimensions?"
Hi Folks!

I know we can "Hide container" as an option:
![image](https://cloud.githubusercontent.com/assets/376230/23759677/73646ccc-04bb-11e7-87c2-fdb1a4abebb6.png)

But curious to know is there a way to configure container dimensions or increase the container size somehow - Maybe in testem.js(on) file? Reason I ask is our container is showing a bit small atm.
![image](https://cloud.githubusercon

[2017-03-10 08:13] #1081 closed

[2017-03-12 08:49] limonte opened #1084 "Latest Firefox (52) - Error: Browser failed to connect within 30s. testem.js not loaded?"
Testem works fine for my open-source project with Firefox 51:

 - build: https://travis-ci.org/limonte/sweetalert2/builds/210064726
 - configuration: https://github.com/limonte/sweetalert2/blob/master/.travis.yml#L11

But if I set Firefox version to latest (current latest is 52), then it trows the exception:

[code]

 - build: https://travis-ci.org/limonte/sweetalert2/builds/210216981
 - configura

[2017-03-12 10:28] johanneswuerbach commented on #1082
It looks like you are using ember-cli, would you mind opening an issue there if this is the case? Testem has no influence on how the test page might look like

[2017-03-12 10:28] #1077 closed

[2017-03-12 10:28] #1078 closed

[2017-03-12 10:29] johanneswuerbach commented on #1073
@Gaurav0 could you provide some additional details here?

[2017-03-12 10:30] johanneswuerbach commented on #1067
Sounds like a good addition, PRs are always welcome :-)

[2017-03-13 11:20] callmemagnus opened #1085 "Examples won't run locally as commander is not installed"
I tried the 2 following examples:

1. coverage_istanbul
2. tape_example

Both of them are failing, on `npm test`  with the following error:
[code]

I am using:
[code]

I tried to just add `commander` to the project dependencies but it does not work.

Is `commander` required to be install globally ?

[2017-03-13 14:00] johanneswuerbach commented on #1085
`commander` is a testem dependency, how did you install testem? https://github.com/testem/testem/blob/53c2c520a08f10e8f15771087797de6f7be11ff2/package.json#L27

[2017-03-13 14:01] johanneswuerbach commented on #1085
If you just clone this repository and execute the scripts, you would also need to run `npm install` in the main project folder.

[2017-03-13 15:18] callmemagnus commented on #1085
Ok, that worked. It probably makes sense.

I didn't noticed: `node ../../testem.js ci -P 10`.

Sorry for the noise.

[2017-03-13 15:18] #1085 closed

[2017-03-14 06:43] Gaurav0 commented on #1073
Not sure what details are required. If the testem.json has a report_file specified, and a custom reporter is configured, I see duplicate logs.

[2017-03-15 15:28] greenkeeper[bot] opened #1087 "An in-range update of chai-shallow-deep-equal is breaking the build 🚨"
## Version **1.4.6** of [chai-shallow-deep-equal](https://github.com/michelsalib/chai-shallow-deep-equal) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fchai-shallow-deep-equal-1.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      chai-shallow-dee

[2017-03-16 10:22] the-t-in-rtf commented on #1075
I'm seeing the same behavior in two environments with version 1.15.0:

1. OS X: 10.11.6, Node: 6.9.1, Npm: 3.10.3
2. Windows 10, Node: 6.10.0, Npm: 2.6.1

I downgraded Testem and confirmed that this is a problem with versions 1.14.0 and 1.15.0 of Testem, but not with version 1.13.0.

[2017-03-16 13:03] greenkeeper[bot] opened #1094 "An in-range update of node-notifier is breaking the build 🚨"
## Version **5.1.2** of [node-notifier](https://github.com/mikaelbr/node-notifier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fnode-notifier-5.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      node-notifier
    </td>
  </tr>
  <tr>
    <th al

[2017-03-17 10:25] brettz9 opened #1095 "Utilize source map data in PhantomJS stack traces and logging"
It seems that running phantomjs on bundled output, one is not able to get source map data preserved in the stack traces, limiting TDD significantly.

I haven't looked into it carefully, but it seems it may be possible to use the likes of https://www.npmjs.com/package/sourcemap-transformer on the error output to get this restored. While I think it could be done as a custom reporter, it would seem t

[2017-03-17 14:53] brettz9 commented on #1095
I came up with the following to override the console methods, recording users' existing `console.log` calls without modification while including part or all of the stack trace like file/line number within the logging output (tested in Safari only): https://gist.github.com/brettz9/01b8de732206db0926166e11211e5641

[2017-03-19 20:40] marfarma opened #1097 "terminal test count error when launchers differ on pending test logging"
PhantomJS reports pending tests as passing.  electron-mocha strips pending tests from output.    I have no problem with this.  Just an implementation detail.

Given the configuration below, in a situation where I have 25 tests in the file, where 12 pass, 1 fails, and 12 are pending (via `.skip`). In the terminal, the PhantomJS tab will report 12/25 while the electron tab will initially report 12/1

[2017-03-20 15:27] tiandavis commented on #1082
Correct and Agreed. Thanks @johanneswuerbach!

[2017-03-20 15:27] #1082 closed

[2017-03-22 07:03] brettz9 commented on #1073
Not sure this is related, as I'm not using a `report_file`, but in the "dev" Mocha adapter, I'm seeing `testFail` being invoked twice, once for the Mocha runner event "fail" and once for "test end" (with `test.state === 'failed'`).

[2017-03-22 12:21] brettz9 opened #1098 "Testing problems"
I would like to make some code-related PRs for testem so I wanted to use your existing tests as a baseline.

However, in running `npm test` on a Mac (and with PhantomJS installed locally as opposed to globally), a number of the `testem` tests are failing, and I'm not really keen to have to do a lot of debugging to get those all working when I'd expect they'd already be working (or at least most of

[2017-03-22 17:11] Gaurav0 commented on #1073
I created a reproduction: https://github.com/Gaurav0/testem-logs-twice

Just clone it and run `ember test` and note it logs 16 tests. Removing the `report_file` from `testem.js` will show the correct 8 tests.

[2017-03-23 02:42] brettz9 commented on #1098
My apologies... I had an incomplete (local) PhantomJS install, and when I reinstalled (`npm uninstall phantomjs-prebuilt && npm clean cache phantomjs-prebuilt && npm install phantomjs-prebuilt`), the tests are now all passing (except for one assuming opera is missing though it is not on my computer).

[2017-03-23 02:42] #1098 closed

[2017-03-28 17:07] lolmaus commented on #962
Is [this](https://github.com/emberjs/ember.js/issues/15033#issuecomment-289835635) the same problem or should I open a new one?

[2017-03-28 18:38] johanneswuerbach commented on #962
Doesn't appear to be related, but more like this check is breaking your app https://github.com/testem/testem/blob/master/public/testem/decycle.js#L67

Maybe adding a `&& 'nodeType' in value` before `&& typeof value.nodeType === 'number'` could fix this?

[2017-03-29 08:57] lolmaus opened #1105 "Error: You attempted to access "nodeType" on a factory manager created by container#factoryFor. "nodeType" is not a member of a factory manager."
Originally reported in [emberjs/ember.js#15033](https://github.com/emberjs/ember.js/issues/15033).

[code]

Offending line: [public/testem/decycle.js#L67](https://github.com/testem/testem/blob/master/public/testem/decycle.js#L67).

I'm unable to create a minimal reproduction scenario, but here are some findings:

[code]

Suggested fix by @johanneswuerbach:

PS You can't even imagine how frustratin

[2017-03-29 09:14] lolmaus commented on #1105
Created https://github.com/rwjblue/ember-factory-for-polyfill/issues/9

[2017-03-30 02:48] jasonkuhrt commented on #519
@johanneswuerbach If this is simple to do I would try to provide a PR for this.

[2017-03-30 21:53] jboler opened #1106 "Support for chrome --headless"
As of version 57 Google Chrome can run headless. [Chromium has been able to for a while too](https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md).

I'm using Testem 1.15.0 on Ubuntu 16.04 with an ember 2.11 project.

When I run `ember test` I can see via `ps aux` that Testem started running the tests with the right args but it still boots up a full desktop browser window:
[cod

[2017-04-03 21:27] cibernox commented on #1106
I've also tried to run chrome headless with no luck. It seems to be starting but it breaks. I'm not even sure if testem has anything to do, since it seems to break because of some audio problem.

FWIW, the project is open source so if anyone wants to peek, this is it: https://github.com/cibernox/ember-basic-dropdown/pull/256

[2017-04-03 23:14] JackCA commented on #1105
@lolmaus thank you for creating the papertrail of Issues for this problem 👏

I had been going crazy trying to figure out what was going on and then created some `console.log`'s to debug the issue itself which just exacerbated it

[2017-04-04 06:57] bastianl opened #1107 "chrome fails to connect"
I recently did a clean install of MacOS and am getting this error for an ember project when running tests locally. They will run with Firefox and Safari but not Chrome. Does anyone have any pointers, or ideas why this could be happening? The tests pass locally through qunit, and out on CircleCI with testem.js..

[code]

testem.js:
[code]

I tried reinstalling Chrome to no avail. Yarn, node (node 7

[2017-04-04 20:28] calebeno opened #1108 "Custom Jasmine Setup Is Disabling Auto Rerun"
I'm using testem as a runner during development of a web application.  It's been a great tool.  Recently, I was looking into some further customization, especially in regard to utilizing a locally installed version of jasmine rather than the pre-included one.  Here is the setup I currently have:

testem.json
[code]

testem.mustache
[code]

With this setup, when I connect to my running testem insta

[2017-04-04 20:58] #1087 closed

[2017-04-04 20:58] #1094 closed

[2017-04-04 20:59] johanneswuerbach commented on #1084
Do you see the same locally?

[2017-04-04 21:01] johanneswuerbach commented on #1095
Sounds like a nice idea, PRs welcome 👍

[2017-04-04 21:05] johanneswuerbach commented on #1105
Did anyone of you @lolmaus or @JackCA had a chance to verify that a change like this works? I'm a bit limited on time at the moment :-(

[2017-04-04 21:08] johanneswuerbach commented on #1106
Looks like you have a small issue in your testem config @jboler, could you try splitting the args into multiple array elements?

[code]

[2017-04-04 21:11] johanneswuerbach commented on #1106
@cibernox sounds like you are hit by https://bugs.chromium.org/p/chromium/issues/detail?id=678948

[2017-04-04 21:14] cibernox commented on #1106
@johanneswuerbach Good catch. Seems that it was fixed the 17th of January, so it should be in the dev channel by now. Perhaps even in beta. I'll try to update.

[2017-04-04 21:18] johanneswuerbach commented on #1107
Does `ember test --serve` actually work with chrome?

[2017-04-04 21:23] johanneswuerbach commented on #1108
Instead of using `<script src="node_modules/testem/testem.js"></script>`, this should work `<script src="/testem.js"></script>`. Testem serves its client und a special url.

Does that solve your issue?

[2017-04-05 00:30] jboler commented on #1106
@johanneswuerbach With that configuration I get:
[code]
Looking at `ps aux`,  the command being run is the same as when I put those 2 flags in 1 string.

[2017-04-05 00:33] jboler commented on #1106
There's also this process that doesn't have the `--headless` flag. Maybe it should have it?

[code]

[2017-04-05 03:33] calebeno commented on #1108
Yes, that was definitely what I was missing. I was using that example in the link for reference, but I miss-understood about the testem file and how it was being served. Thanks for clearing that up.

[2017-04-05 03:33] #1108 closed

[2017-04-05 07:34] limonte commented on #1084
Seems that Firefox fixed the issue :rocket:

[2017-04-05 07:34] #1084 closed

[2017-04-05 07:44] johanneswuerbach commented on #1106
What happens when you run test in interactive mode `ember test --serve`? Is headless chrome starting this way?

[2017-04-05 08:19] lolmaus commented on #1105
@johanneswuerbach I did, this just delegates the problem to a later line.

[2017-04-05 08:36] cibernox commented on #1106
@johanneswuerbach I think I can answer for @jboler since I have the same error.

Yes, the error is the same with `ember test` and with `ember test --serve`.
The error you mentioned is indeed fixed in chrome beta, so the information I'm about to post is all in the beta version.

On Ubuntu Trusty on a VM, passing it gives a GPU error (some `mesa` library) unless the `--disable-gpu` flag is passed. I

[2017-04-05 09:58] johanneswuerbach commented on #1105
Could you provide the error in this case or a small repo to reproduce this?

[2017-04-05 11:49] lolmaus commented on #1105
@johanneswuerbach Not until I run into this issue again, it's very sporadic.

And even then I'm not sure if I succeed: I'll have to precisely reproduce the objects being passed into `console.log`. The objects have circular references, so I can't snapshot them. Will have to try reproducing them.

[2017-04-05 12:19] bastianl commented on #1107
Apparently not on my machine. However I know other developers are successfully running `ember test` (no server) with Chrome. I get the following error:
[code]
However when I enter the indicated url in chrome, the tests pop up and run through qunit.

[2017-04-05 14:38] johanneswuerbach commented on #1107
What happens if you execute this command manually in your console?

[2017-04-05 16:37] lolmaus commented on #1105
So this is now happening to me, a single argument, which is a class instance with circular references. It's an Ember Data record and I have no idea how to reproduce it in an empty boilerplate. I can't copy over everything that led to creation of that very class instance with that very state: that would be a half of a proprietary app.

[2017-04-05 17:32] jboler commented on #1106
@cibernox I don't think there's a problem with Chrome because I can run my Watir specs using `--headless --disable-gpu` and it shows no Chrome window and runs much faster. There are some issues with extra components such as Selenium/Chromedriver/Webdriver expecting an X server for key mappings which will eventually get ironed out but chrome --headless works great without those components.

[2017-04-05 20:29] JackCA commented on #1105
@johanneswuerbach @lolmaus it also appears to be ember-data models in my case as well.

[2017-04-05 21:21] cibernox commented on #1106
@jboler Perhaps it's a timing thing. I hope someone with deeper understanding of testem could use my project to debug it. I wouldn't know where to start pulling the string.

[2017-04-05 22:24] validkeys commented on #1105
Same here. Anytime I console.log(someEmberDataModel);

[2017-04-06 15:59] bradleylandis commented on #1067
https://github.com/testem/testem/pull/1109/files

I'd also suggest mocking out glob() for the tests so that changing files in the project doesn't cause tests to start failing.  I'd be happy to take a crack at that as well if your are interested.

[2017-04-08 07:01] bastianl commented on #1107
When I run `ember test --server` manually, I get the error message mentioned above. Attached is a screenshot.

<img width="1280" alt="screen shot 2017-04-08 at 9 00 37 am" src="https://cloud.githubusercontent.com/assets/8620425/24826589/edcb7cc2-1c39-11e7-84fe-eeaee59e1d16.png">

[2017-04-08 08:14] johanneswuerbach commented on #1107
Is Chrome actually starting? It should autostart once you start testem, is the path correctly pointing to your installed Chrome?

[2017-04-08 08:15] johanneswuerbach commented on #1107
Also what happens if you run the cmd manually in your console?

[2017-04-08 08:26] bastianl commented on #1107
When I run the command manually Chrome appears to open. I get the following output:
[code]
However the chrome window is blank as the server is not running. So it can't connect on port 7357.

When I type `ember test --server` a new chrome window pops up, but I get the spinning wheel of death and the window does not load. I also can't open the dev console, or close the window... it appears stuck (it

[2017-04-08 08:27] bastianl commented on #1107
I've also reinstalled Chrome recently in an attempt to resolve this.. with no luck.

[2017-04-10 07:46] bastianl commented on #1107
this seems like a difficult issue to track down without direct access to my machine. @johanneswuerbach could anyone try to give me some pointers on how to narrow down why testem is failing to launch Chrome?

[2017-04-10 15:54] leondmello commented on #1105
Facing this issue as well

[2017-04-11 18:15] johanneswuerbach commented on #1107
🤔 you could enable specific the `testem-debug` flag in ember-cli to get some additional details https://github.com/ember-cli/ember-cli/pull/6535 and / or manually instrument https://github.com/testem/testem/blob/master/lib/process-ctl.js#L40-L46 to directly log all stdout / stderr.

[2017-04-12 21:41] YoranBrondsema commented on #1021
@patocallaghan Have you had any luck fixing this? Or any new information that came up? We're seeing the same issues (tests won't start about 1/2 of the time, on Chrome) and it's really hampering productivity as you can imagine.

1. It happens more often that the test do not start all, with the `Browser failed to connect within 30s. testem.js not loaded?` message
2. It happens that the tests hang a

[2017-04-12 23:05] ghempton commented on #1021
This same issue happens for us on CircleCI. About 1/10 builds fail to launch with `Browser failed to connect within 30s. testem.js not loaded`.

[2017-04-13 05:47] johanneswuerbach commented on #1021
I didn't had any luck tracking this down yet, especially as this mainly happens only on CI and isn't really reliable reproducable.

Hopefully chrome headless https://www.chromestatus.com/features/5678767817097216 will bring together with remote debugging better debugging in those environments

[2017-04-13 18:43] yangpeng66 opened #1110 "Not able to access files from enclosing folder"
I am trying to access common libraries which are in enclosing folders and not at the same level where I need to run testem (for an isolated widget).

To illustrate, let's say I have an application like so:
+-- lib
     +-- common-test.js (contains custom jasmine matchers, for example, that every spec can use)
+ widgets
    + widget1
         + app
         + test
         testem.json

Let's say wi

[2017-04-14 00:43] jboler commented on #1106
Official support for this feature on Windows, Mac & Linux [lands in Chrome 59](https://www.chromestatus.com/feature/5678767817097216) so I will retest when that's released.

[2017-04-14 11:51] #1067 closed

[2017-04-14 17:36] calderas commented on #1106
This is working fine for me locally on a Mac with the latest Chrome Canary

[code]

**Testem config:**
[code]
When running you can navigate to this url to inspect [http://localhost:9222/](http://localhost:9222/)

[2017-04-14 17:49] cibernox commented on #1106
@calderas Actually the `--remote-debugging-port=9222` what the missing thing! I tried with Chrome 59 from the dev channel and it works (No need for canary apparently)

[2017-04-14 18:50] jboler commented on #1106
I can confirm that adding `--remote-debugging-port=9222` makes it work on Chrome 57 on Ubuntu! I have no idea why.

[2017-04-14 18:50] #1106 closed

[2017-04-15 15:00] Java-Jonas opened #1111 "Testem blocking Port :7357"
I've had a great pleasure testing my code with Testem so far. But today i ran into a very weird issue.
Something prevents the Testem process from being killed, no matter what i do. This goes to show when i kill the process (or rather try to kill) andthen run testem again. It makes the following error apprear in my terminal:
[code]
and in fact the port is still in use after killing Testem when i ch

[2017-04-16 20:57] #962 closed

[2017-04-16 21:06] johanneswuerbach commented on #1105
As I couldn't replicate this, could somebody test https://github.com/testem/testem/pull/1113 and send me the new stack trace if this didn't help?

[2017-04-16 21:07] johanneswuerbach commented on #1105
@lolmaus with testem master, you can now `console.log` those objects without trying to deserialize by using `Testem.console.log`

[2017-04-19 06:38] manimis902 commented on #1021
We are seeing similar issues with our Team City build server.
The error message is slightly different though.

[code]

[2017-04-19 06:59] johanneswuerbach commented on #1021
It would be great to get the chrome debug console output in those cases, maybe using the remote debugger are somehow manually.

Looks like in some cases the initial connect takes >30s with can have multiple reasons: unparsable js, slow js parsing, failed websocket, testem client bug, etc.

Sadly there isn't much, which can be done before connecting (as there is obviously no connection), but maybe

[2017-04-19 16:24] YoranBrondsema commented on #1021
@manimis902 Are you running headless Chrome? In that case, your error might be an issue in Chrome itself (see https://bugs.chromium.org/p/chromium/issues/detail?id=678948).

[2017-04-19 16:41] manimis902 commented on #1021
@YoranBrondsema  Yes we are using chrome headless. I landed on the chromium issue while debugging , although for time being, we solved the failures by increasing ```browser_start_timeout``` to 150s.

FYI, our test suite runs in 24 partitions.

[2017-04-19 17:20] johanneswuerbach commented on #1021
@YoranBrondsema do you also run all 24 partitions in parallel? That might be explaining why spawning the 24 instances is taking some time.

[2017-04-19 17:47] chadhietala opened #1114 "Publish 1.16.0 to NPM"
Looks like it 1.16.0 is tagged in the repo but not released to NPM. https://www.npmjs.com/package/testem

[2017-04-19 17:54] rwjblue commented on #1114
👍 - Thanks for pointing this out @chadhietala!

@johanneswuerbach - Any reason it was tagged an not published?

[2017-04-19 19:33] johanneswuerbach commented on #1114
Sorry, fixed. Was just a missed when tagging and isn't automated yet.

[2017-04-19 19:33] #1114 closed

[2017-04-20 00:19] YoranBrondsema commented on #1021
@johanneswuerbach I run 2 partitions in parallel but they are run on 2 separate VMs on Codeship. So only one instance is started on each VM.

[2017-04-27 18:59] rwjblue opened #1115 "Can no longer inherit from internal reporters."
As of https://github.com/testem/testem/pull/1083, the built-in reporters get an additional argument (the `config` object) passed into them. Prior to #1083 it was possible to extend one of the default reporters:

[code]

(we do this in Travis for Ember because otherwise the logs end up being longer than the CI output allows and the builds are failed)

After #1083, it is no longer possible, because

[2017-04-27 19:26] johanneswuerbach commented on #1115
Sounds like a good fix before rethinking this for a 2.0. I'm currently a bit busy, would you have time to create a PR for this?

[2017-04-28 18:28] jonathanong opened #1117 "with latest chrome, browser is just exiting"
[code]

anyone have any ideas why this happens?

[2017-05-01 03:35] greenkeeper[bot] opened #1118 "An in-range update of sinon-chai is breaking the build 🚨"
## Version **2.10.0** of [sinon-chai](https://github.com/domenic/sinon-chai) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fsinon-chai-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon-chai
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-05-01 19:57] kris-luminar commented on #1117
I'm seeing the same issue when trying to create a screenshot from these instructions https://developers.google.com/web/updates/2017/04/headless-chrome .
[code]

[2017-05-02 02:38] monkeym4ster commented on #1117
I have encountered the same issue.

[code]

[2017-05-02 16:39] dpogue commented on #1117
`--headless` is only supported in Chrome 59 and higher on Linux and macOS. Chrome 58 is not supported (although I seem to recall that it works on Linux).

Chrome 59 is currently on the beta channel.

[2017-05-03 07:33] joshuataylor commented on #1106
Sorry for necro, but just for anyone looking for a reference, take a look at https://developers.google.com/web/updates/2017/04/headless-chrome .

[code]

So the right params are here :+1:

[2017-05-03 12:26] the-t-in-rtf opened #1119 "Need better check to confirm whether browser_args are an Array..."
When using the `testem.js` form of the configuration file, I have been constructing my own browser_args before exposing the options via `module.exports`.  I was seeing strange behavior where only single strings were accepted as browser args, and arrays were being silently ignored.

When I turned on debug logging in Testem, I saw that my arguments were being ignored with messages like:

[code]

Loo

[2017-05-03 12:42] johanneswuerbach commented on #1119
Do you know which node versions support `Array.isArray`? Testem supports 0.10+ at this point, but I was planning to release a breaking v2 which only supports 4+

[2017-05-03 12:57] the-t-in-rtf commented on #1119
@johanneswuerbach, good question, I will check that shortly.

[2017-05-03 12:59] the-t-in-rtf commented on #1119
Looks like 0.10.0 does support `Array.isArray`:

[code]

[2017-05-04 16:36] johanneswuerbach commented on #1119
This has been released as `v1.16.1`

[2017-05-04 16:36] #1119 closed

[2017-05-04 18:26] the-t-in-rtf commented on #1119
Thanks, @johanneswuerbach!

[2017-05-04 19:01] #1118 closed

[2017-05-06 01:48] getsnoopy opened #1122 "The 'cwd' config parameter is not respected when determining available launchers"
The `cwd` config parameter allows changing the current working directory, which is not used when determining available launchers (by way of adding `<project root>/node_modules/.bin` to the `PATH`).

So this doesn't work e.g., when PhantomJS is installed locally, but the CWD needs to be changed.

The issue is in `lib/env-with-local-path.js`:
[code]

[2017-05-08 15:40] greenkeeper[bot] opened #1123 "An in-range update of js-yaml is breaking the build 🚨"
## Version **3.8.4** of [js-yaml](https://github.com/nodeca/js-yaml) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/testem/testem/compare/greenkeeper%2Fjs-yaml-3.8.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      js-yaml
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ve